{{yield}}
{{#if mostrar}}

  <div class="absolute bottom-0 bt b--silver pa1 left-0 right-0 bg-white">
    {{pilas-boton accion=(action "ir_a_la_seccion_principal") texto="Ir a la página principal"}}
    {{pilas-boton accion=(action "ir_a_la_seccion_de_pruebas") texto="Ir a la sección de pruebas"}}

    <div class="fc fr v-mid">
      {{pilas-interruptor texto="livereload" variable=livereload}}
    </div>
  </div>

{{/if}}