<div class="pb1 truncate"><div class="dib w4">
  {{propiedad.propiedad}}
  <div class="">
    <div class="w2 tc dib pointer bg-light-gray black pa1 ma0 unselectable verdana f7" onclick={{action "disminuir"}}>-</div>
    <div class="w2 tc dib pointer bg-light-gray black pa1 ma0 unselectable verdana f7"  onclick={{action "aumentar"}}>+</div>
  </div>
</div>
  {{round (get objeto propiedad.propiedad)}}
</div>
