<div class="flex items-end pv1">
  <div class="yellow w1 mr1">
    <svg fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path>
    </svg>
  </div>

  {{#basic-dropdown onOpen=(action "cuando_abre") as |dd|}}

    {{#dd.trigger}}
      <div class="f7 tr texto pv1 pointer">
        {{t "warning.code.errors"}}
      </div>
    {{/dd.trigger}}

    {{#dd.content class="slide-fade bg-fondo ba borde shadow-4 pa2 f7"}}
      <div class="texto lh-copy w5 truncate">
        {{#each errores as |error|}}
          {{error.startLineNumber}}: {{error.message}}<br>
        {{/each}}
      </div>

      <div class="absolute o-0">
        {{input 
          autofocus=true 
          id="input-filtro-para-ocultar" 
          focusOut=(action "cerrar" dd)
        }}
      </div>
    {{/dd.content}}

  {{/basic-dropdown}}
</div>
