{{yield}}

<div class="fixed top-1 right-1 verdana flex f7 gray">
  {{#each idiomas as |idioma|}}
    <div class="{{if (eq seleccion idioma) "black"}} ttu pa1 hover-bg-black-10 br2 pointer" {{action "definirIdioma" idioma}} role="button">
      {{idioma}}
    </div>
  {{/each}}
</div>
