{{yield}}

<div class="texto pa2 w2 tc data-etiqueta cursor-resize-on-hover bb-dashed-on-hover">
  {{identificador}}
</div>

<div class="w25">
  {{input-numero
    min=min
    max=max
    valor=valor
    cuandoCambia=cuandoCambia
  }}
</div>
