<div class="vh-100 flex flex-column">

  <div class="bb b--black-10 pa2">
    {{pilas-boton-regresar}}
  </div>

  <div class="overflow-auto">
    <div class="center mw8 ph4 lato lh-copy pb6">
      <h2>{{t "home.examples"}}</h2>
      {{pilas-lista-de-ejemplos}}
    </div>
  </div>

</div>
