<div class="verdana pa2 f6 unselectable pa0 flex1 overflow-y-auto ba b--silver {{if desactivado "o-40 disabled"}}">

  {{#if instancia_seleccionada}}

    {{component componente_a_renderizar
        instancia_seleccionada=instancia_seleccionada
        modificarAtributo=modificarAtributo

        cuando_modifica_atributo_de_actor=(action "modificarAtributo")
        cuando_modifica_atributo_de_escena=(action "modifica_atributo_de_escena")
        cuando_modifica_atributo_del_proyecto=(action "modifica_atributo_del_proyecto")
      }}

  {{/if}}

</div>
