{{yield}}

{{#if recursos.tarea.isRunning}}
  Cargando ...
{{else}}

  <div class="tl mb2">
    {{pilas-input-filtro filtro=filtro}}
  </div>

  {{#each recursos.tarea.lastSuccessful.value.imagenes as |imagen|}}

    {{pilas-celda-de-imagen
        imagen=imagen
        filtro=filtro
        cuando_selecciona=cuando_selecciona}}

  {{/each}}

{{/if}}
