{{yield}}
<button class="f7 boton verdana pointer link unselectable" name="button" {{action "cuando_hace_click"}}>{{texto_del_boton}}</button>
<input id="input-para-copiar" class="o-0" value={{texto}}></input
