{{yield}}

<div
  role="button"
  id="boton-crear-carpeta"
  class="dib mr1 bg-transparent no-outline p0 f7 o-50 pointer glow bn pa0"
  {{action "crear_carpeta"}}>

  {{pilas-icono icono="crear-carpeta"}}
</div>
