{{yield}}


{{#if cargando}}
  <div class="ui active centered inline loader"></div>
{{/if}}

<iframe class='pilas-canvas {{if cargando "invisible"}}' id='innerIframe' src="pilas-canvas.html"></iframe>
