<div class="dib w4 bg-light-gray br2 pa2 m2 mb1">
  <div class="flex flex-column">
    <div class="flex1">
      <div class="h3 w3">
        &nbsp;
      </div>
    </div>
    <div class="f6 tc mt2 h1">
      {{yield}}
      &nbsp;
    </div>
  </div>
</div>
