{{pilas-boton icono=icono desactivado=desactivado accion=(action "abrirModal") texto="Preferencias"}}


{{#pilas-modal alCerrar=(action "ocultar") visible=modalVisible id="dialogoPreferencias" titulo="Preferencias"}}

  <div class="">
    {{pilas-interruptor variable=permitir_modo_pausa texto="Permitir el modo pausa y depuración paso a paso *"}}

    <p class="gray f7">* El modo pausa permite inpeccionar paso a paso el recorrido de cada actor, lo cual es bastante útil para depurar y encontrar errores. Sin embargo, puede hacer un poco lenta la ejecución del juego. Si deshabilitás este modo, la ejecución va a ir mucho más fluida.</p>
  </div>


{{/pilas-modal}}

{{yield}}
