<div class="verdana pa2 f6 unselectable pa0 flex1 overflow-y-auto ba b--silver {{if desactivado 'o-40 disabled'}}">
  {{#if instanciaActorSeleccionado}}
    <div class="pb1 truncate h2"><div class="dib w4">tipo</div> {{instanciaActorSeleccionado.tipo}}</div>
    <div class="pb1 truncate h2"><div class="dib w4">imagen</div> {{instanciaActorSeleccionado.imagen}}</div>

    {{#each propiedades as |propiedad|}}
      {{pilas-propiedad objeto=instanciaActorSeleccionado propiedad=propiedad intensidad=propiedad.intensidad modificarAtributo=(action "modificarAtributo")}}
    {{/each}}

  {{/if}}
</div>
