{{yield}}

{{#if ejemplos.tarea.last.isRunning}}
  {{#each (range 0 cantidad_de_ejemplos)}}
    <div class="dib v-top mb2 mr1">
      <div class="relative bg-light-gray" style="width: 180px; height: 140px;"></div>
      <div class="bg-gray pa1 white tc lato f7">
        &nbsp;
      </div>
    </div>
  {{/each}}
{{else}}
  {{#each ejemplos.tarea.last.value.ejemplos as |ejemplo|}}
    {{#link-to "ejemplos.ver" ejemplo.nombre class="dib link relative pointer v-top mb2 mr2 ejemplo"}}
      <div class="flex flex-column" style="width: 180px">

        <div style="width: 180px; height: 140px;">
          <div class="sprite-ejemplos capturas-{{ejemplo.nombre}} b--black-90 ba"></div>
        </div>

        <div class="bg-black-80 pa1 white tc lato f7 bl bb br b--black-90 truncate">
          {{ejemplo.nombre}}
        </div>

        {{#pilas-ejemplos-es-nuevo ejemplo=ejemplo}}
          <div class="absolute top-0 right-0 pa1 ma1 br2 black lato f7 bg-yellow">NUEVO</div>
        {{/pilas-ejemplos-es-nuevo}}

      </div>

    {{/link-to}}
  {{/each}}

{{/if}}
