{{pilas-boton icono=icono desactivado=desactivado accion=(action "abrirModal") texto="Preferencias"}}

{{#pilas-modal medio=true alCerrar=(action "ocultar") visible=modalVisible id="dialogoPreferencias" titulo="Preferencias"}}

  <div class="flex1">
    {{pilas-interruptor variable=permitir_modo_pausa texto="Permitir el modo pausa y depuración paso a paso *"}}

    <p class="gray f7">* El modo pausa permite inspeccionar paso a paso el recorrido de cada actor.</p>
  </div>

  <div class="h2 mv2">
    {{pilas-boton texto="Cerrar" accion=(action "ocultar")}}
  </div>

{{/pilas-modal}}

{{yield}}
