<div class="dib">

  {{#basic-dropdown as |dd|}}
    {{#dd.trigger}}
      <div class="pointer f7 dib boton-miniatura" role="button">
        {{pilas-mini-icono icono="configuracion"}}
      </div>
    {{/dd.trigger}}

    {{#dd.content class="slide-fade bg-fondo ba borde shadow-4 pa2 f7"}}

      <div class="">
        {{pilas-interruptor 
                dataTest="boton-modo-oscuro" 
                variable=oscuro 
                texto=(t "settings.dark.mode")}}
      </div>

      <div class="">
        {{pilas-interruptor 
                dataTest="boton-modo-oscuro" 
                variable=permitir_modo_pausa
                texto=(t "settings.allow.pause")}}
      </div>

    {{/dd.content}}
  {{/basic-dropdown}}

</div>
