<div class="pb1 truncate"><div class="dib w4">

  <div class='dib bl-0 br-0 bt-0 bb b--dashed cursor-resize'>
    {{propiedad.propiedad}}
  </div>
  
</div>
  {{round (get objeto propiedad.propiedad)}}
</div>
