{{yield}}

{{pilas-boton icono="actor" desactivado=desactivado accion=(action "abrirModal") texto="Editar animaciones"}}


{{#pilas-modal alCerrar=(action "ocultar") visible=modalVisible id="dialogoAnimacion" titulo="Editar animaciones"}}
  <div>
    {{pilas-animador pixelart=pixelart}}
  </div>
{{/pilas-modal}}
