{{yield}}


<div class="tr bg-light-gray pa2 mb3">
  {{input id="filtro-de-ejemplos" autofocus=true placeholder="Filtrar" value=filtro class="pa2 input" autocomplete="off"}}
</div>

{{#if ejemplos.tarea.last.isRunning}}
  {{#each (range 0 cantidad_de_ejemplos)}}
    <div class="dib v-top mb2 mr1">
      <div class="relative bg-light-gray" style="width: 180px; height: 140px;"></div>
      <div class="bg-gray pa1 white tc lato f7">
        &nbsp;
      </div>
    </div>
  {{/each}}
{{else}}
  {{#each ejemplos.tarea.last.value.ejemplos as |ejemplo|}}

    {{item-de-la-lista-de-ejemplos filtro=filtro_diferido ejemplo=ejemplo}}

  {{/each}}

{{/if}}
