{{yield}}

{{#if recursos.tarea.isRunning}}
  Cargando ...
{{else}}

  <div class="tl mb2">
    {{pilas-input-filtro filtro=filtro}}
  </div>

  <!--
  <div class="">
    <div class="dib pa2">Imágenes incluías en pilas</div>
    <div class="dib pa2">Imágenes personalizadas</div>
  </div>
  -->

  <div class="">
    {{#each recursos.tarea.lastSuccessful.value.imagenesParaGrilla as |imagen|}}

      {{pilas-celda-de-imagen
          imagen=imagen
          filtro=filtro
          cuando_selecciona=cuando_selecciona}}

    {{/each}}
  </div>

{{/if}}
