<div class="pb1">
  {{pilas-propiedad/combo
      objeto=instancia_seleccionada
      opciones=resoluciones
      titulo="Tamaño"
      valor=(get instancia_seleccionada "tamaño")
      modificarAtributo=(action "cuando_cambia_resolucion")
  }}
</div>

<div class="pb1">
  {{pilas-propiedad/combo
      objeto=instancia_seleccionada
      opciones=opciones_de_rendimiento
      titulo="Rendimiento"
      valor=(get instancia_seleccionada "fps")
      modificarAtributo=(action "cuando_cambia_rendimiento")
  }}
</div>

<div class="pb1">
  {{pilas-propiedad/combo
      objeto=instancia_seleccionada
      opciones=lista_de_escenas
      titulo="Escena inicial"
      valor=(get instancia_seleccionada "nombre_de_la_escena_inicial")
      modificarAtributo=(action "cuando_cambia_escena_inicial")
  }}
</div>
