@import "/images/spritesheet.css";

.contenedor {
  background-color: #ddd;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.contenedor-de-pagina-principal {
  margin: 4em;
}

.layout {
  display: flex;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
}


.game {
  border: 5px solid orange;
  min-height: 200px;
  flex: 1;
}

.editor {
  border: 5px solid green;
  min-height: 200px;
  flex: 1;
}


a.active {
  color: red;
}

.center {
  text-align: center;
}

.css-icon {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
  margin-top: -3px;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}
