@import "spritesheet.css";

.contenedor {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
}

.contenedor-de-pagina-principal {
  margin: 4em;
}

.boton-de-pagina-principal.ui.basic.button {
  width: 200px !important;
}

.layout {
  display: flex;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
}

.game {
  border: 5px solid orange;
  min-height: 200px;
  flex: 1;
  padding: 5px;
}

.editor {
  border: 5px solid green;
  min-height: 200px;
  flex: 1;
  padding: 5px;
}

a.active {
  color: red;
}

.center {
  text-align: center;
}

.css-icon {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
  margin-top: -3px;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.pilas-manual {
  margin: 1em;
  position: absolute;
  bottom: 0;
  border: 1px solid rgba(212, 212, 213, 0.72);
  top: 100px;
  left: 0;
  right: 0;
}

.pilas-manual iframe {
  border: 0;
}

canvas {
  border: 1px solid gray;
}

.pilas-api {
  margin: 1em;
  position: absolute;
  bottom: 0;
  border: 1px solid rgba(212, 212, 213, 0.72);
  top: 100px;
  left: 0;
  right: 0;
}

.pilas-api iframe {
  border: 0;
}

iframe.pilas-canvas {
  width: 600px;
  height: 400px;
  border: 1px solid orange;
}

.invisible {
  opacity: 0;
}

.editor-deshabilitado {
  opacity: 0.5;
}

.version {
  color: gray;
  font-size: small;
  margin: 2em;
}

.iframe-pilas {
  border: 0;
}

.json-entidades {
  font-size: small;
}

.oculto {
  opacity: 0;
}

.button-skeleton {
  display: inline-block;
  width: 92px;
  height: 37px;
  background-color: #efefef;
  border: 0;
}

.canvas-skeleton {
  display: inline-block;
  width: 500px;
  height: 500px;
  background-color: #efefef;
  border: 0;
}
