@import "spritesheet.css";

.css-icon {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
  margin-top: -3px;
}

.lato {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.verdana {
  font-family: "Verdana";
}

.animacion-aparecer {
  animation-duration: 0.25s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-top: -10px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}

.usn {
  user-select: none;
}

.bg-primario {
  background-color: rgb(245, 245, 245);
}

:root,
.ember-application,
.ember-application > div {
  height: 100%;
}

.flex-expand {
  flex: 1;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.separadorl {
  border-left: 1px dashed #ccc;
}

.separadorr {
  border-right: 1px dashed #ccc;
}
