# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
.DS_Store
/binarios

# dependencies
/node_modules
/bower_components

pilasengine/node_modules/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log


.env.deploy.*
docs/_book
