.phaser {
    width: 70px;
    height: 70px;
    background: url("spritesheet.png") -134px -2px;
	background-size: 290px 270px;
}

.pilas_logo_128 {
    width: 128px;
    height: 128px;
    background: url("spritesheet.png") -2px -2px;
	background-size: 290px 270px;
}

.ember {
    width: 63px;
    height: 60px;
    background: url("spritesheet.png") -2px -134px;
	background-size: 290px 270px;
}

.typescript {
    width: 60px;
    height: 60px;
    background: url("spritesheet.png") -69px -134px;
	background-size: 290px 270px;
}

.pilas_logo_60 {
    width: 60px;
    height: 60px;
    background: url("spritesheet.png") -133px -134px;
	background-size: 290px 270px;
}

.electron {
    width: 60px;
    height: 60px;
    background: url("spritesheet.png") -208px -2px;
	background-size: 290px 270px;
}

.github {
    width: 60px;
    height: 50px;
    background: url("spritesheet.png") -208px -66px;
	background-size: 290px 270px;
}

.ejemplos {
    width: 25px;
    height: 25px;
    background: url("spritesheet.png") -208px -120px;
	background-size: 290px 270px;
}

.add_folder {
    width: 25px;
    height: 25px;
    background: url("spritesheet.png") -237px -120px;
	background-size: 290px 270px;
}

.test {
    width: 25px;
    height: 25px;
    background: url("spritesheet.png") -208px -149px;
	background-size: 290px 270px;
}

.manual {
    width: 25px;
    height: 25px;
    background: url("spritesheet.png") -237px -149px;
	background-size: 290px 270px;
}

.settings {
    width: 25px;
    height: 25px;
    background: url("spritesheet.png") -134px -76px;
	background-size: 290px 270px;
}

.computadora {
    width: 25px;
    height: 25px;
    background: url("spritesheet.png") -163px -76px;
	background-size: 290px 270px;
}

.api {
    width: 25px;
    height: 25px;
    background: url("spritesheet.png") -134px -105px;
	background-size: 290px 270px;
}

.info_squared {
    width: 25px;
    height: 25px;
    background: url("spritesheet.png") -163px -105px;
	background-size: 290px 270px;
}

.demo {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -2px -198px;
	background-size: 290px 270px;
}

.error {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -30px -198px;
	background-size: 290px 270px;
}

.escena {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -58px -198px;
	background-size: 290px 270px;
}

.desplegar {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -86px -198px;
	background-size: 290px 270px;
}

.guardar {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -114px -198px;
	background-size: 290px 270px;
}

.si {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -142px -198px;
	background-size: 290px 270px;
}

.info {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -170px -198px;
	background-size: 290px 270px;
}

.on {
    width: 16px;
    height: 14px;
    background: url("spritesheet.png") -272px -80px;
	background-size: 290px 270px;
}

.detener {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -226px -198px;
	background-size: 290px 270px;
}

.no {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -2px -226px;
	background-size: 290px 270px;
}

.arduino {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -30px -226px;
	background-size: 290px 270px;
}

.preferencias {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -58px -226px;
	background-size: 290px 270px;
}

.plegar {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -86px -226px;
	background-size: 290px 270px;
}

.ejecutar {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -114px -226px;
	background-size: 290px 270px;
}

.abrir {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -142px -226px;
	background-size: 290px 270px;
}

.actores {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -170px -226px;
	background-size: 290px 270px;
}

.pausa {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -198px -226px;
	background-size: 290px 270px;
}

.volver {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -226px -226px;
	background-size: 290px 270px;
}

.panel-izquierdo-on {
    width: 18px;
    height: 14px;
    background: url("spritesheet.png") -208px -178px;
	background-size: 290px 270px;
}

.panel-derecho-on {
    width: 18px;
    height: 14px;
    background: url("spritesheet.png") -230px -178px;
	background-size: 290px 270px;
}

.panel-derecho-off {
    width: 18px;
    height: 14px;
    background: url("spritesheet.png") -2px -254px;
	background-size: 290px 270px;
}

.panel-central-on {
    width: 18px;
    height: 14px;
    background: url("spritesheet.png") -24px -254px;
	background-size: 290px 270px;
}

.panel-central-off {
    width: 18px;
    height: 14px;
    background: url("spritesheet.png") -46px -254px;
	background-size: 290px 270px;
}

.panel-izquierdo-off {
    width: 18px;
    height: 14px;
    background: url("spritesheet.png") -68px -254px;
	background-size: 290px 270px;
}

.imagen {
    width: 16px;
    height: 16px;
    background: url("spritesheet.png") -272px -2px;
	background-size: 290px 270px;
}

.duplicar {
    width: 16px;
    height: 16px;
    background: url("spritesheet.png") -272px -22px;
	background-size: 290px 270px;
}

.borrar {
    width: 16px;
    height: 16px;
    background: url("spritesheet.png") -272px -42px;
	background-size: 290px 270px;
}

.off {
    width: 16px;
    height: 14px;
    background: url("spritesheet.png") -272px -62px;
	background-size: 290px 270px;
}

.actor {
    width: 24px;
    height: 24px;
    background: url("spritesheet.png") -198px -198px;
	background-size: 290px 270px;
}

