version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9.4-stretch-browsers
    steps:
      - checkout
      - run:
          name: Instalando dependencias de pilas
          command: make iniciar
      - run:
          name: Ejecutando test
          command: make test
  deploy:
    docker:
      - image: circleci/node:8.9.4-stretch-browsers
    steps:
        - checkout
        - run: make iniciar
        - run: make test
        - run: echo "Instalando wine ..."
        - run: sudo dpkg --add-architecture i386 && sudo apt update
        - run: sudo apt install wine wine32 wine64 libwine libwine:i386 fonts-wine
        - run: make binarios
        - run: echo "Instalando go y ghr ..."
        - run: sudo apt-get install golang
        - run: GOPATH="/tmp/go" go get github.com/tcnksm/ghr
        - run: echo "Subiendo binarios"
        - run: /tmp/go/bin/ghr -t $GITHUB_TOKEN -u $CIRCLE_PROJECT_USERNAME -r $CIRCLE_PROJECT_REPONAME --replace `git describe --tags` binarios/
        - run: echo "Generando manuales..."
        - run: sudo -v && wget -nv -O- https://raw.githubusercontent.com/kovidgoyal/calibre/master/setup/linux-installer.py | sudo python -c "import sys; main=lambda:sys.stderr.write('Download failed\n'); exec(sys.stdin.read()); main()"
        - run: npm install svgexport -g
        - run: make pilas_manuales_descargables
        - run: /tmp/go/bin/ghr -t $GITHUB_TOKEN -u $CIRCLE_PROJECT_USERNAME -r $CIRCLE_PROJECT_REPONAME --replace `git describe --tags` manuales/
  deploy_a_surge:
    docker:
      - image: circleci/node:8.9.4-stretch-browsers
    steps:
        - checkout
        - run: make iniciar
        - run: make test
        - run:
            name: "Subiendo archivos a surge..."
            command: make deploy_a_surge
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          filters:
            tags:
              only: /^v\d+.\d+.\d+/
            branches:
              ignore: /.*/
      - deploy_a_surge:
          filters:
            tags:
              only: /^v\d+.\d+.\d+/
            branches:
              ignore: /.*/
