<div class="pv1">

  <div class="pb1">
    <div class="dib texto">
      {{etiqueta propiedad.propiedad}}
    </div>
  </div>

  <div class="v-top pointer pt1 w240">
    {{#power-select-multiple
      options=habilidades
      selected=(get objeto propiedad.propiedad)
      placeholder="Ninguna"
      onchange=(action "cuando_selecciona")
      as |habilidad|
    }}
      {{habilidad}}
    {{/power-select-multiple}}
  </div>

</div>
