<div class="h2">

  <div class="dib w4">

    <div class='dib'>
      {{propiedad.propiedad}}
    </div>

  </div>

  <div class="dib w3 v-top">
    {{get objeto propiedad.propiedad}}

    <!--
    <input class="w-100"
      value={{get objeto propiedad.propiedad}}
      oninput={{action "al_cambiar" value="target.value"}}
      />
    -->
  </div>

</div>
