<div class="pv1 flex">

  <div class="w-50">

    <div class="texto truncate">
      {{#if propiedad.nombreCorto}}
        {{etiqueta propiedad.nombreCorto}}
      {{else}}
        {{etiqueta propiedad.propiedad}}
      {{/if}}
    </div>

  </div>

  <div class="w-50 pb1">
    {{pilas-interruptor variable=(get objeto propiedad.propiedad) padding="pa0" cuandoCambia=(action "cuando_cambia")}}
  </div>

</div>
