<div class="truncate h2">

  <div class="dib w4">

    <div class="dib texto">
      {{etiqueta propiedad.propiedad}}
    </div>

  </div>

  <div class="dib w104 v-top">
    {{pilas-interruptor variable=(get objeto propiedad.propiedad) padding="pa0" cuandoCambia=(action "cuando_cambia")}}
  </div>

</div>
