{{yield}}
<div class="texto" role="button">

  {{#basic-dropdown as |dd|}}
    {{#dd.trigger}}
      <div class="br2 dib input mv2 pa1 w-input-nombre-de-sensor no-outline">
        {{sensor.nombre}}
      </div>
    {{/dd.trigger}}

    {{#dd.content class="slide-fade bg-fondo ba borde shadow-4 pa2"}}
      <div class="texto">
        {{pilas-input-nombre-validado-de-sensor
            valor_inicial=sensor.nombre
            sensores=sensores
            cuandoCambia=cuandoCambia
            dd=dd
        }}
      </div>
    {{/dd.content}}
  {{/basic-dropdown}}

</div>
