{{yield}}
<div class="pv1 flex texto relative">
  <div class="w-50">{{etiqueta "nombre"}}</div>

  <div role="button" class="w-50 pb2 truncate">
    {{pilas-boton-renombrar es_actor=es_actor nombre=nombre cuando_cambia=cuando_cambia}}{{nombre}}
  </div>

</div>
