<div class="flex">

  <div class="w-50">
    <div class="texto pv1 lh-title unselectable">
      <div class="dib data-etiqueta cursor-resize-on-hover bb-dashed-on-hover">
        {{t etiqueta}}
      </div>
    </div>
  </div>

  <div class="w-50">
    {{input-numero
      min=propiedad.min
      max=propiedad.max
      valor=(round (get objeto propiedad.propiedad))
      cuandoCambia=(action "modificar_desde_input" objeto propiedad.propiedad)
    }}
  </div>

</div>
