<div class="flex">

  <div class="flex1">
    <div class="texto pa1">
      {{etiqueta propiedad.propiedad}}
    </div>
  </div>

  <div class="">
    {{input-numero
      valor=(round (get objeto propiedad.propiedad))
      cuandoCambia=(action "modificar_desde_input" objeto propiedad.propiedad)
    }}
  </div>

</div>
