/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:54b7539f7cce81fa39f5d5c1cdac4cf9:7cfbbeb0512dd0e2dea6553615b6e444:920e202f5b2071cb7cfe5b9cc5ec03bb$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-ejemplos {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(ejemplos.jpg);}

.capturas-acceder-a-actores {width:180px; height:140px; background-position: -1px -1px}
.capturas-angulo {width:180px; height:140px; background-position: -1px -285px}
.capturas-angulo-entre-actores {width:180px; height:140px; background-position: -1px -143px}
.capturas-apilador-de-cajas {width:180px; height:140px; background-position: -1px -427px}
.capturas-aprender-y-olvidar {width:180px; height:140px; background-position: -1px -569px}
.capturas-arkanoid {width:180px; height:140px; background-position: -1px -711px}
.capturas-arrastrables {width:180px; height:140px; background-position: -183px -1px}
.capturas-asusta-fantasmas {width:179px; height:140px; background-position: -1821px -1px}
.capturas-automata-cofre {width:179px; height:140px; background-position: -1821px -143px}
.capturas-automata-contra-calaveras {width:179px; height:140px; background-position: -1821px -285px}
.capturas-azar {width:180px; height:140px; background-position: -183px -143px}
.capturas-barra-de-energia {width:180px; height:140px; background-position: -183px -285px}
.capturas-barras-de-energia {width:180px; height:140px; background-position: -183px -427px}
.capturas-burbujas {width:180px; height:140px; background-position: -183px -569px}
.capturas-camara-seguir-clicks {width:180px; height:140px; background-position: -183px -711px}
.capturas-click {width:180px; height:140px; background-position: -365px -1px}
.capturas-click_actor {width:180px; height:140px; background-position: -365px -143px}
.capturas-controles {width:180px; height:140px; background-position: -365px -285px}
.capturas-cuando-pulsa-tecla {width:180px; height:140px; background-position: -365px -427px}
.capturas-cursor-animado {width:179px; height:140px; background-position: -1821px -427px}
.capturas-cursores {width:180px; height:140px; background-position: -365px -569px}
.capturas-desactivar-clicks {width:180px; height:140px; background-position: -365px -711px}
.capturas-dialogo-y-camara {width:180px; height:140px; background-position: -547px -1px}
.capturas-dibuja-rectangulos {width:180px; height:140px; background-position: -547px -143px}
.capturas-don-ceferino {width:179px; height:140px; background-position: -1821px -569px}
.capturas-dos-jugadores {width:180px; height:140px; background-position: -547px -285px}
.capturas-ejemplo-nave {width:180px; height:140px; background-position: -547px -427px}
.capturas-explosion_al_colisionar {width:180px; height:139px; background-position: -1639px -427px}
.capturas-flappy {width:180px; height:140px; background-position: -547px -569px}
.capturas-gamepad-analogicos {width:180px; height:140px; background-position: -547px -711px}
.capturas-gamepad-simple {width:180px; height:140px; background-position: -729px -1px}
.capturas-gravedad {width:180px; height:140px; background-position: -729px -285px}
.capturas-gravedad-aleatoria {width:180px; height:140px; background-position: -729px -143px}
.capturas-huesos {width:180px; height:140px; background-position: -729px -427px}
.capturas-imagenes-como-botones {width:180px; height:140px; background-position: -729px -569px}
.capturas-juego-educativo-de-numeros {width:180px; height:140px; background-position: -729px -711px}
.capturas-laser-y-misil {width:180px; height:140px; background-position: -911px -1px}
.capturas-lucha {width:180px; height:140px; background-position: -911px -143px}
.capturas-mantener-valores-entre-escenas {width:180px; height:140px; background-position: -911px -285px}
.capturas-mapa-hola {width:180px; height:140px; background-position: -911px -427px}
.capturas-mapa-niveles {width:180px; height:140px; background-position: -911px -569px}
.capturas-mejor-puntaje {width:180px; height:139px; background-position: -1639px -568px}
.capturas-memorizar {width:180px; height:140px; background-position: -911px -711px}
.capturas-mensaje_global {width:180px; height:140px; background-position: -1093px -1px}
.capturas-menu-simple {width:180px; height:140px; background-position: -1275px -1px}
.capturas-musica {width:180px; height:140px; background-position: -1457px -1px}
.capturas-nave_contra_aliens {width:180px; height:140px; background-position: -1639px -1px}
.capturas-naves {width:180px; height:140px; background-position: -1093px -143px}
.capturas-ninjas {width:180px; height:140px; background-position: -1093px -285px}
.capturas-nubes {width:180px; height:140px; background-position: -1093px -427px}
.capturas-pacman {width:180px; height:140px; background-position: -1093px -711px}
.capturas-pacman-con-paredes {width:180px; height:140px; background-position: -1093px -569px}
.capturas-pantalla-completa {width:180px; height:140px; background-position: -1275px -143px}
.capturas-pausar {width:180px; height:140px; background-position: -1457px -143px}
.capturas-plataformas {width:180px; height:140px; background-position: -1275px -285px}
.capturas-plataformas-2 {width:180px; height:140px; background-position: -1639px -143px}
.capturas-recorrido-con-orientacion {width:180px; height:140px; background-position: -1275px -427px}
.capturas-recorrido-de-curva {width:180px; height:140px; background-position: -1275px -569px}
.capturas-recorrido-simple {width:180px; height:140px; background-position: -1275px -711px}
.capturas-rompecabezas {width:180px; height:139px; background-position: -1639px -709px}
.capturas-sensor-basico {width:179px; height:140px; background-position: -1821px -711px}
.capturas-sokoban {width:180px; height:140px; background-position: -1457px -285px}
.capturas-teclado {width:180px; height:140px; background-position: -1639px -285px}
.capturas-temporizadores {width:180px; height:140px; background-position: -1457px -427px}
.capturas-tipos_de_animacion {width:180px; height:140px; background-position: -1457px -569px}
.capturas-volley {width:180px; height:140px; background-position: -1457px -711px}
