/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:07fb00c8f7401aab0cb53fd03f399deb:358f0d12df73734172fb6c28bef067d4:920e202f5b2071cb7cfe5b9cc5ec03bb$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-ejemplos {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(ejemplos.jpg);}

.capturas-acceder-a-actores {width:180px; height:140px; background-position: -547px -1px}
.capturas-angulo {width:180px; height:140px; background-position: -1px -142px}
.capturas-angulo-entre-actores {width:180px; height:140px; background-position: -729px -1px}
.capturas-apilador-de-cajas {width:180px; height:140px; background-position: -183px -142px}
.capturas-aprender-y-olvidar {width:180px; height:140px; background-position: -365px -142px}
.capturas-arkanoid {width:180px; height:140px; background-position: -547px -143px}
.capturas-arrastrables {width:180px; height:140px; background-position: -729px -143px}
.capturas-asusta-fantasmas {width:179px; height:140px; background-position: -1px -284px}
.capturas-automata-cofre {width:179px; height:140px; background-position: -182px -284px}
.capturas-automata-contra-calaveras {width:179px; height:140px; background-position: -363px -284px}
.capturas-azar {width:180px; height:140px; background-position: -544px -285px}
.capturas-barra-de-energia {width:180px; height:140px; background-position: -726px -285px}
.capturas-barras-de-energia {width:180px; height:140px; background-position: -1px -426px}
.capturas-burbujas {width:180px; height:140px; background-position: -183px -426px}
.capturas-camara-seguir-clicks {width:180px; height:140px; background-position: -365px -427px}
.capturas-click {width:180px; height:140px; background-position: -547px -427px}
.capturas-click_actor {width:180px; height:140px; background-position: -729px -427px}
.capturas-controles {width:180px; height:140px; background-position: -1px -568px}
.capturas-cuando-pulsa-tecla {width:180px; height:140px; background-position: -183px -568px}
.capturas-cursor-animado {width:179px; height:140px; background-position: -365px -569px}
.capturas-cursores {width:180px; height:140px; background-position: -546px -569px}
.capturas-desactivar-clicks {width:180px; height:140px; background-position: -728px -569px}
.capturas-dialogo-y-camara {width:180px; height:140px; background-position: -1px -710px}
.capturas-don-ceferino {width:179px; height:140px; background-position: -183px -710px}
.capturas-dos-jugadores {width:180px; height:140px; background-position: -364px -711px}
.capturas-ejemplo-nave {width:180px; height:140px; background-position: -546px -711px}
.capturas-explosion_al_colisionar {width:180px; height:139px; background-position: -1px -1px}
.capturas-flappy {width:180px; height:140px; background-position: -728px -711px}
.capturas-gamepad-analogicos {width:180px; height:140px; background-position: -1px -852px}
.capturas-gamepad-simple {width:180px; height:140px; background-position: -364px -853px}
.capturas-gravedad {width:180px; height:140px; background-position: -728px -853px}
.capturas-gravedad-aleatoria {width:180px; height:140px; background-position: -546px -853px}
.capturas-huesos {width:180px; height:140px; background-position: -1px -994px}
.capturas-imagenes-como-botones {width:180px; height:140px; background-position: -183px -995px}
.capturas-juego-educativo-de-numeros {width:180px; height:140px; background-position: -365px -995px}
.capturas-laser-y-misil {width:180px; height:140px; background-position: -547px -995px}
.capturas-lucha {width:180px; height:140px; background-position: -729px -995px}
.capturas-mantener-valores-entre-escenas {width:180px; height:140px; background-position: -1px -1136px}
.capturas-mapa-hola {width:180px; height:140px; background-position: -183px -1137px}
.capturas-mapa-niveles {width:180px; height:140px; background-position: -365px -1137px}
.capturas-mejor-puntaje {width:180px; height:139px; background-position: -183px -1px}
.capturas-memorizar {width:180px; height:140px; background-position: -547px -1137px}
.capturas-mensaje_global {width:180px; height:140px; background-position: -729px -1137px}
.capturas-menu-simple {width:180px; height:140px; background-position: -1px -1278px}
.capturas-musica {width:180px; height:140px; background-position: -183px -1279px}
.capturas-nave_contra_aliens {width:180px; height:140px; background-position: -365px -1279px}
.capturas-naves {width:180px; height:140px; background-position: -547px -1279px}
.capturas-ninjas {width:180px; height:140px; background-position: -729px -1279px}
.capturas-nubes {width:180px; height:140px; background-position: -1px -1420px}
.capturas-pacman {width:180px; height:140px; background-position: -365px -1421px}
.capturas-pacman-con-paredes {width:180px; height:140px; background-position: -183px -1421px}
.capturas-pantalla-completa {width:180px; height:140px; background-position: -547px -1421px}
.capturas-pausar {width:180px; height:140px; background-position: -729px -1421px}
.capturas-plataformas {width:180px; height:140px; background-position: -183px -1563px}
.capturas-plataformas-2 {width:180px; height:140px; background-position: -1px -1562px}
.capturas-recorrido-con-orientacion {width:180px; height:140px; background-position: -365px -1563px}
.capturas-recorrido-de-curva {width:180px; height:140px; background-position: -547px -1563px}
.capturas-recorrido-simple {width:180px; height:140px; background-position: -729px -1563px}
.capturas-rompecabezas {width:180px; height:139px; background-position: -365px -1px}
.capturas-sensor-basico {width:179px; height:140px; background-position: -183px -852px}
.capturas-sokoban {width:180px; height:140px; background-position: -1px -1704px}
.capturas-teclado {width:180px; height:140px; background-position: -183px -1705px}
.capturas-temporizadores {width:180px; height:140px; background-position: -365px -1705px}
.capturas-tipos_de_animacion {width:180px; height:140px; background-position: -547px -1705px}
.capturas-volley {width:180px; height:140px; background-position: -729px -1705px}
