/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:b4f4b5621ffe41ef11a4be185c42d892:0abcf6d0559f77b98e4d756b65394468:f906d06d9aeba575a5ffa09df65658ca$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(grilla-imagenes.png);}

.aliens-alien_azul {width:41px; height:48px; background-position: -996px -149px}
.aliens-alien_verde {width:48px; height:47px; background-position: -851px -51px}
.basicos-invisible {width:48px; height:48px; background-position: -1px -1px}
.basicos-logo {width:48px; height:48px; background-position: -1px -51px}
.basicos-pizarra {width:48px; height:48px; background-position: -1px -1px}
.basicos-planeta {width:48px; height:48px; background-position: -51px -1px}
.basicos-sin_imagen {width:48px; height:48px; background-position: -1px -101px}
.bmo-bmo_agachado {width:48px; height:48px; background-position: -51px -51px}
.bmo-bmo_camina_1 {width:48px; height:48px; background-position: -101px -1px}
.bmo-bmo_camina_2 {width:48px; height:48px; background-position: -1px -151px}
.bmo-bmo_celebra {width:48px; height:48px; background-position: -1px -201px}
.bmo-bmo_escala_1 {width:48px; height:48px; background-position: -51px -101px}
.bmo-bmo_escala_2 {width:48px; height:48px; background-position: -101px -51px}
.bmo-bmo_parado {width:48px; height:48px; background-position: -151px -1px}
.bmo-bmo_salta {width:48px; height:48px; background-position: -51px -151px}
.botones-botones_a {width:48px; height:48px; background-position: -51px -201px}
.botones-botones_abajo {width:48px; height:48px; background-position: -101px -101px}
.botones-botones_arriba {width:48px; height:48px; background-position: -151px -51px}
.botones-botones_b {width:48px; height:48px; background-position: -201px -1px}
.botones-botones_derecha {width:48px; height:48px; background-position: -101px -151px}
.botones-botones_izquierda {width:48px; height:48px; background-position: -101px -201px}
.carreras-asfalto_1 {width:48px; height:48px; background-position: -151px -101px}
.carreras-asfalto_2 {width:48px; height:48px; background-position: -201px -51px}
.carreras-asfalto_3 {width:48px; height:48px; background-position: -251px -1px}
.carreras-asfalto_4 {width:48px; height:48px; background-position: -151px -151px}
.carreras-auto_amarillo {width:48px; height:27px; background-position: -1297px -40px}
.carreras-auto_azul {width:48px; height:29px; background-position: -1347px -40px}
.carreras-auto_rojo {width:48px; height:31px; background-position: -1247px -45px}
.carreras-auto_verde {width:48px; height:27px; background-position: -1145px -85px}
.carreras-carreras_cono {width:48px; height:48px; background-position: -151px -201px}
.carreras-carreras_cono_caido {width:48px; height:45px; background-position: -1051px -51px}
.cartas-carta {width:35px; height:48px; background-position: -1039px -149px}
.cartas-carta_azul {width:35px; height:48px; background-position: -1014px -201px}
.cartas-carta_verde {width:35px; height:48px; background-position: -1051px -201px}
.conejo-conejo_camina1 {width:27px; height:48px; background-position: -1160px -199px}
.conejo-conejo_camina2 {width:28px; height:48px; background-position: -1395px -106px}
.conejo-conejo_parado1 {width:29px; height:48px; background-position: -1225px -174px}
.conejo-conejo_parado2 {width:29px; height:48px; background-position: -1325px -191px}
.conejo-conejo_pierde {width:41px; height:48px; background-position: -1000px -99px}
.conejo-conejo_salta {width:40px; height:48px; background-position: -1043px -98px}
.cursores-cursor_circular {width:48px; height:48px; background-position: -201px -101px}
.cursores-cursor_disparo_negro {width:48px; height:48px; background-position: -251px -51px}
.cursores-cursor_disparo_rojo {width:48px; height:48px; background-position: -301px -1px}
.dado-dado_1 {width:48px; height:48px; background-position: -201px -151px}
.dado-dado_2 {width:48px; height:48px; background-position: -201px -201px}
.dado-dado_3 {width:48px; height:48px; background-position: -251px -101px}
.dado-dado_4 {width:48px; height:48px; background-position: -301px -51px}
.dado-dado_5 {width:48px; height:48px; background-position: -351px -1px}
.dado-dado_6 {width:48px; height:48px; background-position: -251px -151px}
.decoracion-arbol_desde_arriba {width:48px; height:48px; background-position: -251px -201px}
.decoracion-decoracion_arbol_1 {width:24px; height:48px; background-position: -1397px -51px}
.decoracion-decoracion_arbol_2 {width:28px; height:48px; background-position: -1395px -156px}
.decoracion-decoracion_cactus {width:33px; height:48px; background-position: -1256px -172px}
.decoracion-decoracion_cerca {width:48px; height:36px; background-position: -1197px -47px}
.decoracion-decoracion_hierba_1 {width:48px; height:42px; background-position: -1247px -1px}
.decoracion-decoracion_luna {width:48px; height:48px; background-position: -301px -101px}
.decoracion-decoracion_nube_1 {width:48px; height:29px; background-position: -1195px -85px}
.decoracion-decoracion_nube_2 {width:48px; height:28px; background-position: -1297px -69px}
.decoracion-decoracion_nubes_lejanas {width:48px; height:19px; background-position: -1247px -78px}
.decoracion-decoracion_palmera {width:40px; height:48px; background-position: -1085px -101px}
.decoracion-decoracion_suelo_lejano {width:48px; height:19px; background-position: -1245px -99px}
.decoracion-nube {width:48px; height:48px; background-position: -351px -51px}
.disparos-laser {width:48px; height:12px; background-position: -1142px -144px}
.disparos-laser_2 {width:48px; height:8px; background-position: -1189px -224px}
.disparos-laser_3 {width:48px; height:17px; background-position: -1192px -142px}
.disparos-misil {width:48px; height:33px; background-position: -1347px -71px}
.enemigos-fantasma_asustando {width:34px; height:48px; background-position: -1088px -201px}
.enemigos-fantasma_normal {width:34px; height:48px; background-position: -1124px -201px}
.fondos-fondo-azul {width:48px; height:48px; background-position: -401px -1px}
.fondos-fondo-cesped_1 {width:48px; height:48px; background-position: -301px -151px}
.fondos-fondo-cesped_2 {width:48px; height:48px; background-position: -301px -201px}
.fondos-fondo-cielo {width:48px; height:48px; background-position: -351px -101px}
.fondos-fondo-espacio_1 {width:48px; height:48px; background-position: -401px -51px}
.fondos-fondo-espacio_2 {width:48px; height:48px; background-position: -451px -1px}
.fondos-fondo-madera {width:48px; height:48px; background-position: -351px -151px}
.fondos-fondo-plano {width:48px; height:48px; background-position: -351px -201px}
.fondos-fondo-rojo {width:48px; height:48px; background-position: -401px -101px}
.fondos-fondo-tierra_1 {width:48px; height:48px; background-position: -451px -51px}
.fondos-fondo-verde {width:48px; height:48px; background-position: -501px -1px}
.gallina-gallina_muere {width:43px; height:48px; background-position: -951px -149px}
.gallina-gallina_sin_piel {width:42px; height:48px; background-position: -1101px -51px}
.gallina-gallina_vuela_1 {width:48px; height:47px; background-position: -901px -1px}
.gallina-gallina_vuela_2 {width:48px; height:35px; background-position: -1147px -48px}
.gallina-gallina_vuela_3 {width:48px; height:47px; background-position: -801px -151px}
.interfaz-interfaz_deslizador {width:32px; height:48px; background-position: -1291px -188px}
.interfaz-interfaz_linea {width:48px; height:8px; background-position: -1189px -234px}
.interfaz-interfaz_punto {width:38px; height:48px; background-position: -1076px -151px}
.mono-mono_gritar {width:48px; height:37px; background-position: -1297px -1px}
.mono-mono_normal {width:48px; height:37px; background-position: -1347px -1px}
.mono-mono_reir {width:48px; height:37px; background-position: -1295px -99px}
.nave-nave {width:36px; height:48px; background-position: -900px -201px}
.nave-nave_avanza_1 {width:48px; height:47px; background-position: -851px -100px}
.nave-nave_avanza_2 {width:48px; height:47px; background-position: -901px -50px}
.nave-nave_derecha_1 {width:48px; height:47px; background-position: -951px -1px}
.nave-nave_derecha_2 {width:48px; height:47px; background-position: -801px -200px}
.nave-nave_enemiga_1 {width:39px; height:48px; background-position: -1292px -138px}
.nave-nave_enemiga_2 {width:34px; height:48px; background-position: -1189px -174px}
.nave-nave_izquierda_1 {width:48px; height:47px; background-position: -851px -149px}
.nave-nave_izquierda_2 {width:48px; height:47px; background-position: -901px -99px}
.nave-nave_reposo {width:48px; height:47px; background-position: -951px -50px}
.objetos-aceituna {width:48px; height:48px; background-position: -401px -151px}
.objetos-asteroide_chico {width:48px; height:45px; background-position: -1147px -1px}
.objetos-asteroide_grande {width:48px; height:47px; background-position: -1001px -1px}
.objetos-asteroide_medio {width:47px; height:48px; background-position: -851px -198px}
.objetos-bloque_arkanoid_amarillo {width:48px; height:24px; background-position: -1192px -116px}
.objetos-bloque_arkanoid_azul {width:48px; height:24px; background-position: -1242px -120px}
.objetos-bloque_arkanoid_verde {width:48px; height:24px; background-position: -1242px -146px}
.objetos-bomba {width:36px; height:48px; background-position: -938px -201px}
.objetos-caja {width:48px; height:48px; background-position: -401px -201px}
.objetos-ceferino {width:36px; height:48px; background-position: -976px -201px}
.objetos-copa {width:48px; height:48px; background-position: -451px -101px}
.objetos-corazon_completo {width:48px; height:48px; background-position: -501px -51px}
.objetos-corazon_medio {width:48px; height:48px; background-position: -551px -1px}
.objetos-corazon_vacio {width:48px; height:48px; background-position: -451px -151px}
.objetos-cuchi_2 {width:48px; height:48px; background-position: -451px -201px}
.objetos-cuchillo_1 {width:48px; height:48px; background-position: -501px -101px}
.objetos-diamante_azul {width:48px; height:48px; background-position: -551px -51px}
.objetos-diamante_rojo {width:48px; height:48px; background-position: -601px -1px}
.objetos-diamante_verde {width:48px; height:48px; background-position: -501px -151px}
.objetos-engranaje {width:48px; height:48px; background-position: -501px -201px}
.objetos-llave {width:48px; height:48px; background-position: -551px -101px}
.objetos-madera {width:13px; height:48px; background-position: -1127px -101px}
.objetos-manzana {width:46px; height:48px; background-position: -1051px -1px}
.objetos-mira {width:48px; height:48px; background-position: -601px -51px}
.objetos-moneda {width:39px; height:48px; background-position: -1333px -141px}
.objetos-paleta {width:48px; height:11px; background-position: -1187px -161px}
.objetos-pato {width:48px; height:46px; background-position: -1001px -50px}
.objetos-pelota {width:48px; height:47px; background-position: -901px -148px}
.objetos-pelota_azul {width:48px; height:48px; background-position: -651px -1px}
.objetos-pelota_de_voley {width:47px; height:48px; background-position: -951px -99px}
.objetos-pelota_gris {width:48px; height:48px; background-position: -551px -151px}
.objetos-robot {width:28px; height:48px; background-position: -1356px -191px}
.objetos-torreta {width:26px; height:48px; background-position: -1397px -1px}
.objetos-tortuga {width:48px; height:48px; background-position: -551px -201px}
.objetos-tridente_clavado {width:19px; height:48px; background-position: -1374px -141px}
.objetos-tridente_normal {width:19px; height:48px; background-position: -1116px -151px}
.objetos-zanahoria_normal {width:48px; height:48px; background-position: -601px -101px}
.objetos-zanahoria_sonrie {width:48px; height:48px; background-position: -651px -51px}
.particulas-particula_1 {width:48px; height:48px; background-position: -701px -1px}
.particulas-particula_2 {width:48px; height:48px; background-position: -601px -151px}
.particulas-particula_3 {width:46px; height:48px; background-position: -1099px -1px}
.plataformas-bloque_azul {width:48px; height:48px; background-position: -601px -201px}
.plataformas-bloque_cemento {width:48px; height:48px; background-position: -651px -101px}
.plataformas-bloque_escalera {width:48px; height:48px; background-position: -701px -51px}
.plataformas-bloque_escalera_superior {width:48px; height:48px; background-position: -751px -1px}
.plataformas-bloque_gris {width:48px; height:48px; background-position: -651px -151px}
.plataformas-bloque_ladrillo {width:48px; height:48px; background-position: -651px -201px}
.plataformas-bloque_para_llave {width:48px; height:48px; background-position: -701px -101px}
.plataformas-bloque_pasto {width:48px; height:48px; background-position: -751px -51px}
.plataformas-bloque_pulsador_azul_activado {width:48px; height:48px; background-position: -801px -1px}
.plataformas-bloque_pulsador_azul_desactivado {width:48px; height:48px; background-position: -701px -151px}
.plataformas-bloque_tierra {width:48px; height:48px; background-position: -701px -201px}
.plataformas-pared {width:2px; height:48px; background-position: -1386px -191px}
.plataformas-plataforma {width:48px; height:7px; background-position: -1239px -224px}
.plataformas-suelo {width:48px; height:2px; background-position: -901px -197px}
.plataformas-techo {width:48px; height:2px; background-position: -901px -197px}
.redimensionables-blanco {width:48px; height:48px; background-position: -751px -101px}
.redimensionables-boton-amarillo {width:48px; height:44px; background-position: -1197px -1px}
.redimensionables-con_bordes_1 {width:48px; height:48px; background-position: -801px -51px}
.redimensionables-con_bordes_2 {width:48px; height:48px; background-position: -851px -1px}
.redimensionables-con_bordes_3 {width:48px; height:48px; background-position: -751px -151px}
.redimensionables-dialogo {width:48px; height:48px; background-position: -751px -201px}
.redimensionables-gris {width:48px; height:48px; background-position: -801px -101px}
.tanque-tanque_base {width:48px; height:28px; background-position: -1142px -114px}
.tanque-tanque_disparo {width:48px; height:33px; background-position: -1345px -106px}
.tanque-tanque_ruedas {width:48px; height:23px; background-position: -1137px -158px}
.tanque-tanque_torreta {width:48px; height:14px; background-position: -1137px -183px}
