/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:cbb3541743707bee062a4d76a41ca690:68a2267a958073bd16ca06fbd680a1a5:f906d06d9aeba575a5ffa09df65658ca$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-grilla-de-imagenes {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(grilla-imagenes.png);}

.bloques-items-item-1 {width:48px; height:48px; background-position: -1px -1px}
.bloques-items-item-10 {width:48px; height:48px; background-position: -1px -51px}
.bloques-items-item-11 {width:48px; height:48px; background-position: -51px -1px}
.bloques-items-item-12 {width:48px; height:48px; background-position: -1px -101px}
.bloques-items-item-13 {width:48px; height:48px; background-position: -51px -51px}
.bloques-items-item-14 {width:48px; height:48px; background-position: -101px -1px}
.bloques-items-item-15 {width:48px; height:48px; background-position: -1px -151px}
.bloques-items-item-16 {width:48px; height:48px; background-position: -51px -101px}
.bloques-items-item-17 {width:48px; height:48px; background-position: -101px -51px}
.bloques-items-item-18 {width:48px; height:48px; background-position: -151px -1px}
.bloques-items-item-19 {width:48px; height:20px; background-position: -297px -1242px}
.bloques-items-item-2 {width:48px; height:48px; background-position: -1px -201px}
.bloques-items-item-3 {width:48px; height:48px; background-position: -51px -151px}
.bloques-items-item-4 {width:48px; height:48px; background-position: -101px -101px}
.bloques-items-item-5 {width:48px; height:48px; background-position: -151px -51px}
.bloques-items-item-6 {width:48px; height:48px; background-position: -201px -1px}
.bloques-items-item-7 {width:48px; height:48px; background-position: -1px -251px}
.bloques-items-item-8 {width:48px; height:48px; background-position: -51px -201px}
.bloques-items-item-9 {width:48px; height:48px; background-position: -101px -151px}
.bloques-plataformas-marrones-plataforma-marron-1 {width:48px; height:48px; background-position: -151px -101px}
.bloques-plataformas-marrones-plataforma-marron-10 {width:48px; height:48px; background-position: -201px -51px}
.bloques-plataformas-marrones-plataforma-marron-11 {width:48px; height:48px; background-position: -251px -1px}
.bloques-plataformas-marrones-plataforma-marron-12 {width:48px; height:48px; background-position: -1px -301px}
.bloques-plataformas-marrones-plataforma-marron-13 {width:48px; height:48px; background-position: -51px -251px}
.bloques-plataformas-marrones-plataforma-marron-14 {width:48px; height:48px; background-position: -101px -201px}
.bloques-plataformas-marrones-plataforma-marron-15 {width:48px; height:48px; background-position: -151px -151px}
.bloques-plataformas-marrones-plataforma-marron-16 {width:48px; height:48px; background-position: -201px -101px}
.bloques-plataformas-marrones-plataforma-marron-17 {width:48px; height:48px; background-position: -251px -51px}
.bloques-plataformas-marrones-plataforma-marron-18 {width:48px; height:48px; background-position: -301px -1px}
.bloques-plataformas-marrones-plataforma-marron-19 {width:48px; height:48px; background-position: -1px -351px}
.bloques-plataformas-marrones-plataforma-marron-2 {width:48px; height:48px; background-position: -51px -301px}
.bloques-plataformas-marrones-plataforma-marron-20 {width:48px; height:48px; background-position: -101px -251px}
.bloques-plataformas-marrones-plataforma-marron-21 {width:48px; height:48px; background-position: -151px -201px}
.bloques-plataformas-marrones-plataforma-marron-22 {width:48px; height:48px; background-position: -201px -151px}
.bloques-plataformas-marrones-plataforma-marron-23 {width:48px; height:48px; background-position: -251px -101px}
.bloques-plataformas-marrones-plataforma-marron-24 {width:48px; height:48px; background-position: -301px -51px}
.bloques-plataformas-marrones-plataforma-marron-25 {width:48px; height:48px; background-position: -351px -1px}
.bloques-plataformas-marrones-plataforma-marron-26 {width:48px; height:48px; background-position: -1px -401px}
.bloques-plataformas-marrones-plataforma-marron-27 {width:48px; height:48px; background-position: -51px -351px}
.bloques-plataformas-marrones-plataforma-marron-3 {width:48px; height:48px; background-position: -101px -301px}
.bloques-plataformas-marrones-plataforma-marron-4 {width:48px; height:48px; background-position: -151px -251px}
.bloques-plataformas-marrones-plataforma-marron-5 {width:48px; height:40px; background-position: -347px -1238px}
.bloques-plataformas-marrones-plataforma-marron-6 {width:48px; height:40px; background-position: -247px -1247px}
.bloques-plataformas-marrones-plataforma-marron-7 {width:48px; height:40px; background-position: -297px -1264px}
.bloques-plataformas-marrones-plataforma-marron-8 {width:48px; height:40px; background-position: -347px -1280px}
.bloques-plataformas-marrones-plataforma-marron-9 {width:48px; height:48px; background-position: -201px -201px}
.bloques-plataformas-plataforma-1 {width:48px; height:48px; background-position: -251px -151px}
.bloques-plataformas-plataforma-10 {width:48px; height:48px; background-position: -301px -101px}
.bloques-plataformas-plataforma-11 {width:48px; height:48px; background-position: -351px -51px}
.bloques-plataformas-plataforma-12 {width:48px; height:48px; background-position: -401px -1px}
.bloques-plataformas-plataforma-13 {width:48px; height:48px; background-position: -1px -451px}
.bloques-plataformas-plataforma-14 {width:48px; height:48px; background-position: -51px -401px}
.bloques-plataformas-plataforma-15 {width:48px; height:48px; background-position: -101px -351px}
.bloques-plataformas-plataforma-16 {width:48px; height:48px; background-position: -151px -301px}
.bloques-plataformas-plataforma-17 {width:48px; height:48px; background-position: -201px -251px}
.bloques-plataformas-plataforma-18 {width:48px; height:48px; background-position: -251px -201px}
.bloques-plataformas-plataforma-19 {width:48px; height:48px; background-position: -301px -151px}
.bloques-plataformas-plataforma-2 {width:48px; height:48px; background-position: -351px -101px}
.bloques-plataformas-plataforma-20 {width:48px; height:48px; background-position: -401px -51px}
.bloques-plataformas-plataforma-21 {width:48px; height:48px; background-position: -451px -1px}
.bloques-plataformas-plataforma-22 {width:48px; height:48px; background-position: -1px -501px}
.bloques-plataformas-plataforma-23 {width:48px; height:48px; background-position: -51px -451px}
.bloques-plataformas-plataforma-24 {width:48px; height:48px; background-position: -101px -401px}
.bloques-plataformas-plataforma-25 {width:48px; height:48px; background-position: -151px -351px}
.bloques-plataformas-plataforma-26 {width:48px; height:48px; background-position: -201px -301px}
.bloques-plataformas-plataforma-27 {width:48px; height:48px; background-position: -251px -251px}
.bloques-plataformas-plataforma-28 {width:48px; height:48px; background-position: -301px -201px}
.bloques-plataformas-plataforma-29 {width:48px; height:48px; background-position: -351px -151px}
.bloques-plataformas-plataforma-3 {width:48px; height:48px; background-position: -401px -101px}
.bloques-plataformas-plataforma-30 {width:48px; height:48px; background-position: -451px -51px}
.bloques-plataformas-plataforma-31 {width:48px; height:48px; background-position: -1px -551px}
.bloques-plataformas-plataforma-32 {width:48px; height:48px; background-position: -51px -501px}
.bloques-plataformas-plataforma-33 {width:48px; height:48px; background-position: -101px -451px}
.bloques-plataformas-plataforma-34 {width:48px; height:48px; background-position: -151px -401px}
.bloques-plataformas-plataforma-35 {width:48px; height:48px; background-position: -201px -351px}
.bloques-plataformas-plataforma-36 {width:48px; height:48px; background-position: -251px -301px}
.bloques-plataformas-plataforma-37 {width:48px; height:48px; background-position: -301px -251px}
.bloques-plataformas-plataforma-38 {width:48px; height:48px; background-position: -351px -201px}
.bloques-plataformas-plataforma-39 {width:48px; height:48px; background-position: -401px -151px}
.bloques-plataformas-plataforma-4 {width:48px; height:48px; background-position: -451px -101px}
.bloques-plataformas-plataforma-40 {width:48px; height:48px; background-position: -1px -601px}
.bloques-plataformas-plataforma-41 {width:48px; height:48px; background-position: -51px -551px}
.bloques-plataformas-plataforma-42 {width:48px; height:48px; background-position: -101px -501px}
.bloques-plataformas-plataforma-43 {width:48px; height:48px; background-position: -151px -451px}
.bloques-plataformas-plataforma-44 {width:48px; height:48px; background-position: -201px -401px}
.bloques-plataformas-plataforma-45 {width:48px; height:48px; background-position: -251px -351px}
.bloques-plataformas-plataforma-46 {width:48px; height:48px; background-position: -301px -301px}
.bloques-plataformas-plataforma-47 {width:48px; height:48px; background-position: -351px -251px}
.bloques-plataformas-plataforma-48 {width:48px; height:48px; background-position: -401px -201px}
.bloques-plataformas-plataforma-49 {width:48px; height:48px; background-position: -451px -151px}
.bloques-plataformas-plataforma-5 {width:48px; height:48px; background-position: -1px -651px}
.bloques-plataformas-plataforma-50 {width:48px; height:48px; background-position: -51px -601px}
.bloques-plataformas-plataforma-51 {width:48px; height:48px; background-position: -101px -551px}
.bloques-plataformas-plataforma-52 {width:48px; height:48px; background-position: -151px -501px}
.bloques-plataformas-plataforma-53 {width:48px; height:48px; background-position: -201px -451px}
.bloques-plataformas-plataforma-54 {width:48px; height:48px; background-position: -251px -401px}
.bloques-plataformas-plataforma-55 {width:48px; height:48px; background-position: -301px -351px}
.bloques-plataformas-plataforma-56 {width:48px; height:48px; background-position: -351px -301px}
.bloques-plataformas-plataforma-57 {width:48px; height:48px; background-position: -401px -251px}
.bloques-plataformas-plataforma-58 {width:48px; height:48px; background-position: -451px -201px}
.bloques-plataformas-plataforma-59 {width:48px; height:48px; background-position: -1px -701px}
.bloques-plataformas-plataforma-6 {width:48px; height:48px; background-position: -51px -651px}
.bloques-plataformas-plataforma-60 {width:48px; height:48px; background-position: -101px -601px}
.bloques-plataformas-plataforma-61 {width:48px; height:48px; background-position: -151px -551px}
.bloques-plataformas-plataforma-62 {width:48px; height:48px; background-position: -201px -501px}
.bloques-plataformas-plataforma-63 {width:48px; height:48px; background-position: -251px -451px}
.bloques-plataformas-plataforma-64 {width:48px; height:48px; background-position: -301px -401px}
.bloques-plataformas-plataforma-65 {width:48px; height:48px; background-position: -351px -351px}
.bloques-plataformas-plataforma-7 {width:48px; height:48px; background-position: -401px -301px}
.bloques-plataformas-plataforma-8 {width:48px; height:48px; background-position: -301px -201px}
.bloques-plataformas-plataforma-9 {width:48px; height:48px; background-position: -451px -251px}
.decoracion-fondos-fondo-azul {width:48px; height:48px; background-position: -1px -751px}
.decoracion-fondos-fondo-cesped_1 {width:48px; height:48px; background-position: -51px -701px}
.decoracion-fondos-fondo-cesped_2 {width:48px; height:48px; background-position: -101px -651px}
.decoracion-fondos-fondo-cielo {width:48px; height:48px; background-position: -151px -601px}
.decoracion-fondos-fondo-espacio_1 {width:48px; height:48px; background-position: -201px -551px}
.decoracion-fondos-fondo-espacio_2 {width:48px; height:48px; background-position: -251px -501px}
.decoracion-fondos-fondo-madera {width:48px; height:48px; background-position: -301px -451px}
.decoracion-fondos-fondo-plano {width:48px; height:48px; background-position: -351px -401px}
.decoracion-fondos-fondo-rojo {width:48px; height:48px; background-position: -401px -351px}
.decoracion-fondos-fondo-tierra_1 {width:48px; height:48px; background-position: -451px -301px}
.decoracion-fondos-fondo-verde {width:48px; height:48px; background-position: -1px -801px}
.decoracion-objetos-arbol_desde_arriba {width:48px; height:48px; background-position: -51px -751px}
.decoracion-objetos-decoracion_arbol_1 {width:24px; height:48px; background-position: -45px -1650px}
.decoracion-objetos-decoracion_arbol_2 {width:28px; height:48px; background-position: -71px -1650px}
.decoracion-objetos-decoracion_cactus {width:33px; height:48px; background-position: -89px -1600px}
.decoracion-objetos-decoracion_cerca {width:48px; height:36px; background-position: -101px -1345px}
.decoracion-objetos-decoracion_hierba_1 {width:48px; height:42px; background-position: -51px -1349px}
.decoracion-objetos-decoracion_luna {width:48px; height:48px; background-position: -101px -701px}
.decoracion-objetos-decoracion_nube_1 {width:48px; height:29px; background-position: -101px -1383px}
.decoracion-objetos-decoracion_nube_2 {width:48px; height:28px; background-position: -50px -1393px}
.decoracion-objetos-decoracion_nubes_lejanas {width:48px; height:19px; background-position: -100px -1414px}
.decoracion-objetos-decoracion_palmera {width:40px; height:48px; background-position: -101px -1650px}
.decoracion-objetos-decoracion_suelo_lejano {width:48px; height:19px; background-position: -449px -1044px}
.decoracion-objetos-nube {width:48px; height:48px; background-position: -151px -651px}
.imagenes-aliens-alien_azul {width:41px; height:48px; background-position: -46px -1600px}
.imagenes-aliens-alien_verde {width:48px; height:47px; background-position: -151px -1101px}
.imagenes-aliens-martian_0 {width:46px; height:48px; background-position: -151px -1199px}
.imagenes-aliens-martian_1 {width:46px; height:48px; background-position: -201px -1149px}
.imagenes-aliens-martian_10 {width:46px; height:48px; background-position: -251px -1099px}
.imagenes-aliens-martian_11 {width:46px; height:48px; background-position: -301px -1049px}
.imagenes-aliens-martian_2 {width:46px; height:48px; background-position: -351px -999px}
.imagenes-aliens-martian_3 {width:46px; height:48px; background-position: -401px -949px}
.imagenes-aliens-martian_4 {width:46px; height:48px; background-position: -451px -899px}
.imagenes-aliens-martian_5 {width:46px; height:48px; background-position: -1px -1400px}
.imagenes-aliens-martian_6 {width:46px; height:48px; background-position: -199px -1199px}
.imagenes-aliens-martian_7 {width:46px; height:48px; background-position: -249px -1149px}
.imagenes-aliens-martian_8 {width:46px; height:48px; background-position: -299px -1099px}
.imagenes-aliens-martian_9 {width:46px; height:48px; background-position: -349px -1049px}
.imagenes-basicos-barra_de_energia {width:48px; height:4px; background-position: -201px -1427px}
.imagenes-basicos-invisible {width:48px; height:48px; background-position: -201px -601px}
.imagenes-basicos-logo {width:48px; height:48px; background-position: -251px -551px}
.imagenes-basicos-pizarra {width:48px; height:48px; background-position: -201px -601px}
.imagenes-basicos-planeta {width:48px; height:48px; background-position: -301px -501px}
.imagenes-basicos-sin_imagen {width:48px; height:48px; background-position: -351px -451px}
.imagenes-bmo-bmo_agachado {width:48px; height:40px; background-position: -49px -1468px}
.imagenes-bmo-bmo_camina_1 {width:48px; height:40px; background-position: -99px -1480px}
.imagenes-bmo-bmo_camina_2 {width:48px; height:40px; background-position: -399px -1047px}
.imagenes-bmo-bmo_celebra {width:48px; height:40px; background-position: -449px -1065px}
.imagenes-bmo-bmo_escala_1 {width:48px; height:48px; background-position: -401px -401px}
.imagenes-bmo-bmo_escala_2 {width:48px; height:48px; background-position: -451px -351px}
.imagenes-bmo-bmo_parado {width:48px; height:40px; background-position: -447px -1286px}
.imagenes-bmo-bmo_salta {width:48px; height:40px; background-position: -397px -1314px}
.imagenes-botones-botones_a {width:48px; height:48px; background-position: -1px -851px}
.imagenes-botones-botones_abajo {width:48px; height:48px; background-position: -51px -801px}
.imagenes-botones-botones_arriba {width:48px; height:48px; background-position: -101px -751px}
.imagenes-botones-botones_b {width:48px; height:48px; background-position: -151px -701px}
.imagenes-botones-botones_derecha {width:48px; height:48px; background-position: -201px -651px}
.imagenes-botones-botones_izquierda {width:48px; height:48px; background-position: -251px -601px}
.imagenes-botones-pantalla-completa {width:48px; height:48px; background-position: -301px -551px}
.imagenes-carreras-asfalto_1 {width:48px; height:48px; background-position: -351px -501px}
.imagenes-carreras-asfalto_2 {width:48px; height:48px; background-position: -401px -451px}
.imagenes-carreras-asfalto_3 {width:48px; height:48px; background-position: -451px -401px}
.imagenes-carreras-asfalto_4 {width:48px; height:48px; background-position: -1px -901px}
.imagenes-carreras-auto_amarillo {width:48px; height:27px; background-position: -447px -1328px}
.imagenes-carreras-auto_azul {width:48px; height:29px; background-position: -51px -1700px}
.imagenes-carreras-auto_rojo {width:48px; height:31px; background-position: -1px -1700px}
.imagenes-carreras-auto_verde {width:48px; height:27px; background-position: -247px -1289px}
.imagenes-carreras-carreras_cono {width:48px; height:48px; background-position: -51px -851px}
.imagenes-carreras-carreras_cono_caido {width:48px; height:45px; background-position: -297px -1149px}
.imagenes-cartas-carta {width:35px; height:48px; background-position: -124px -1598px}
.imagenes-cartas-carta_azul {width:35px; height:48px; background-position: -143px -1648px}
.imagenes-cartas-carta_verde {width:35px; height:48px; background-position: -146px -1522px}
.imagenes-conejo-conejo_camina1 {width:27px; height:48px; background-position: -180px -1648px}
.imagenes-conejo-conejo_camina2 {width:28px; height:48px; background-position: -379px -1361px}
.imagenes-conejo-conejo_parado1 {width:29px; height:48px; background-position: -151px -1249px}
.imagenes-conejo-conejo_parado2 {width:29px; height:48px; background-position: -183px -1522px}
.imagenes-conejo-conejo_pierde {width:41px; height:48px; background-position: -161px -1598px}
.imagenes-conejo-conejo_salta {width:40px; height:48px; background-position: -151px -1343px}
.imagenes-cursores-cursor_circular {width:48px; height:48px; background-position: -101px -801px}
.imagenes-cursores-cursor_disparo_negro {width:48px; height:48px; background-position: -151px -751px}
.imagenes-cursores-cursor_disparo_rojo {width:48px; height:48px; background-position: -201px -701px}
.imagenes-dado-dado_1 {width:48px; height:48px; background-position: -251px -651px}
.imagenes-dado-dado_2 {width:48px; height:48px; background-position: -301px -601px}
.imagenes-dado-dado_3 {width:48px; height:48px; background-position: -351px -551px}
.imagenes-dado-dado_4 {width:48px; height:48px; background-position: -401px -501px}
.imagenes-dado-dado_5 {width:48px; height:48px; background-position: -451px -451px}
.imagenes-dado-dado_6 {width:48px; height:48px; background-position: -1px -951px}
.imagenes-disparos-laser {width:48px; height:12px; background-position: -338px -1411px}
.imagenes-disparos-laser_2 {width:48px; height:8px; background-position: -251px -1427px}
.imagenes-disparos-laser_3 {width:48px; height:17px; background-position: -297px -1306px}
.imagenes-disparos-misil {width:48px; height:33px; background-position: -151px -1698px}
.imagenes-efectos-chispa-1 {width:48px; height:37px; background-position: -347px -1322px}
.imagenes-efectos-chispa-2 {width:48px; height:37px; background-position: -193px -1349px}
.imagenes-efectos-chispa-3 {width:48px; height:37px; background-position: -243px -1349px}
.imagenes-efectos-chispa-4 {width:48px; height:37px; background-position: -151px -1393px}
.imagenes-efectos-chispa-5 {width:48px; height:37px; background-position: -201px -1388px}
.imagenes-efectos-chispa-chispa-1 {width:48px; height:27px; background-position: -301px -1425px}
.imagenes-efectos-chispa-chispa-2 {width:48px; height:27px; background-position: -251px -1437px}
.imagenes-efectos-chispa-chispa-3 {width:48px; height:27px; background-position: -351px -1425px}
.imagenes-efectos-chispa-chispa-4 {width:48px; height:27px; background-position: -301px -1454px}
.imagenes-efectos-chispa-chispa-5 {width:48px; height:27px; background-position: -351px -1454px}
.imagenes-efectos-energia-01 {width:48px; height:27px; background-position: -251px -1466px}
.imagenes-efectos-energia-02 {width:48px; height:27px; background-position: -301px -1483px}
.imagenes-efectos-energia-03 {width:48px; height:27px; background-position: -351px -1483px}
.imagenes-efectos-energia-04 {width:48px; height:27px; background-position: -251px -1495px}
.imagenes-efectos-energia-05 {width:48px; height:27px; background-position: -301px -1512px}
.imagenes-efectos-energia-06 {width:48px; height:27px; background-position: -351px -1512px}
.imagenes-efectos-energia-07 {width:48px; height:27px; background-position: -251px -1524px}
.imagenes-efectos-energia-08 {width:48px; height:27px; background-position: -301px -1541px}
.imagenes-efectos-energia-09 {width:48px; height:27px; background-position: -351px -1541px}
.imagenes-efectos-energia-10 {width:48px; height:27px; background-position: -251px -1553px}
.imagenes-efectos-energia-11 {width:48px; height:27px; background-position: -301px -1570px}
.imagenes-efectos-energia-12 {width:48px; height:27px; background-position: -351px -1570px}
.imagenes-efectos-energia-energia-01 {width:48px; height:27px; background-position: -251px -1466px}
.imagenes-efectos-energia-energia-02 {width:48px; height:27px; background-position: -301px -1483px}
.imagenes-efectos-energia-energia-03 {width:48px; height:27px; background-position: -351px -1483px}
.imagenes-efectos-energia-energia-04 {width:48px; height:27px; background-position: -251px -1495px}
.imagenes-efectos-energia-energia-05 {width:48px; height:27px; background-position: -301px -1512px}
.imagenes-efectos-energia-energia-06 {width:48px; height:27px; background-position: -351px -1512px}
.imagenes-efectos-energia-energia-07 {width:48px; height:27px; background-position: -251px -1524px}
.imagenes-efectos-energia-energia-08 {width:48px; height:27px; background-position: -301px -1541px}
.imagenes-efectos-energia-energia-09 {width:48px; height:27px; background-position: -351px -1541px}
.imagenes-efectos-energia-energia-10 {width:48px; height:27px; background-position: -251px -1553px}
.imagenes-efectos-energia-energia-11 {width:48px; height:27px; background-position: -301px -1570px}
.imagenes-efectos-energia-energia-12 {width:48px; height:27px; background-position: -351px -1570px}
.imagenes-efectos-golpe-1 {width:48px; height:47px; background-position: -201px -1051px}
.imagenes-efectos-golpe-2 {width:48px; height:47px; background-position: -251px -1001px}
.imagenes-efectos-golpe-3 {width:48px; height:47px; background-position: -301px -951px}
.imagenes-efectos-golpe-4 {width:48px; height:47px; background-position: -351px -901px}
.imagenes-efectos-golpe-5 {width:48px; height:47px; background-position: -401px -851px}
.imagenes-efectos-golpe-6 {width:48px; height:47px; background-position: -451px -801px}
.imagenes-efectos-golpe-golpe-1 {width:48px; height:27px; background-position: -251px -1582px}
.imagenes-efectos-golpe-golpe-2 {width:48px; height:27px; background-position: -301px -1599px}
.imagenes-efectos-golpe-golpe-3 {width:48px; height:27px; background-position: -351px -1599px}
.imagenes-efectos-golpe-golpe-4 {width:48px; height:27px; background-position: -251px -1611px}
.imagenes-efectos-golpe-golpe-5 {width:48px; height:27px; background-position: -301px -1628px}
.imagenes-efectos-golpe-golpe-6 {width:48px; height:27px; background-position: -351px -1628px}
.imagenes-efectos-humo-01 {width:48px; height:48px; background-position: -51px -901px}
.imagenes-efectos-humo-02 {width:48px; height:48px; background-position: -101px -851px}
.imagenes-efectos-humo-03 {width:48px; height:48px; background-position: -151px -801px}
.imagenes-efectos-humo-04 {width:48px; height:48px; background-position: -201px -751px}
.imagenes-efectos-humo-05 {width:48px; height:48px; background-position: -251px -701px}
.imagenes-efectos-humo-06 {width:48px; height:48px; background-position: -301px -651px}
.imagenes-efectos-humo-07 {width:48px; height:48px; background-position: -351px -601px}
.imagenes-efectos-humo-08 {width:48px; height:48px; background-position: -401px -551px}
.imagenes-efectos-humo-09 {width:48px; height:48px; background-position: -451px -501px}
.imagenes-efectos-humo-10 {width:48px; height:48px; background-position: -1px -1001px}
.imagenes-efectos-humo-humo-01 {width:48px; height:27px; background-position: -251px -1640px}
.imagenes-efectos-humo-humo-02 {width:48px; height:27px; background-position: -209px -1669px}
.imagenes-efectos-humo-humo-03 {width:48px; height:27px; background-position: -259px -1669px}
.imagenes-efectos-humo-humo-04 {width:48px; height:27px; background-position: -459px -1507px}
.imagenes-efectos-humo-humo-05 {width:48px; height:27px; background-position: -459px -1536px}
.imagenes-efectos-humo-humo-06 {width:48px; height:27px; background-position: -459px -1565px}
.imagenes-efectos-humo-humo-07 {width:48px; height:27px; background-position: -459px -1594px}
.imagenes-efectos-humo-humo-08 {width:48px; height:27px; background-position: -459px -1623px}
.imagenes-efectos-humo-humo-09 {width:48px; height:27px; background-position: -459px -1652px}
.imagenes-efectos-humo-humo-10 {width:48px; height:27px; background-position: -459px -1681px}
.imagenes-enemigos-enemigo-rojo-camina-1 {width:35px; height:48px; background-position: -301px -1375px}
.imagenes-enemigos-enemigo-rojo-camina-2 {width:37px; height:48px; background-position: -400px -1657px}
.imagenes-enemigos-enemigo-rojo-camina-3 {width:48px; height:37px; background-position: -251px -1388px}
.imagenes-enemigos-enemigo-rojo-camina-golpeado {width:41px; height:48px; background-position: -204px -1249px}
.imagenes-enemigos-enemigo-verde-camina-1 {width:48px; height:29px; background-position: -101px -1700px}
.imagenes-enemigos-enemigo-verde-camina-2 {width:48px; height:29px; background-position: -96px -1567px}
.imagenes-enemigos-enemigo-verde-golpea {width:48px; height:29px; background-position: -242px -1318px}
.imagenes-enemigos-enemigo-verde-golpeado {width:48px; height:29px; background-position: -459px -1446px}
.imagenes-enemigos-fantasma_asustando {width:34px; height:48px; background-position: -214px -1492px}
.imagenes-enemigos-fantasma_normal {width:34px; height:48px; background-position: -214px -1542px}
.imagenes-enemigos-pez {width:36px; height:48px; background-position: -409px -1356px}
.imagenes-enemigos-pinches-flotando {width:48px; height:46px; background-position: -399px -999px}
.imagenes-enemigos-rana {width:48px; height:32px; background-position: -251px -1698px}
.imagenes-enemigos-rana-golpe {width:48px; height:42px; background-position: -447px -1242px}
.imagenes-enemigos-rana-salta {width:48px; height:42px; background-position: -151px -1299px}
.imagenes-explosion-explosion_001 {width:48px; height:43px; background-position: -101px -1300px}
.imagenes-explosion-explosion_002 {width:48px; height:43px; background-position: -449px -999px}
.imagenes-explosion-explosion_003 {width:48px; height:43px; background-position: -49px -1423px}
.imagenes-explosion-explosion_004 {width:48px; height:43px; background-position: -46px -1510px}
.imagenes-explosion-explosion_005 {width:48px; height:43px; background-position: -46px -1555px}
.imagenes-explosion-explosion_006 {width:48px; height:43px; background-position: -99px -1435px}
.imagenes-explosion-explosion_007 {width:48px; height:43px; background-position: -96px -1522px}
.imagenes-explosion-explosion_008 {width:48px; height:43px; background-position: -397px -1089px}
.imagenes-explosion-explosion_009 {width:48px; height:43px; background-position: -397px -1134px}
.imagenes-explosion-explosion_010 {width:48px; height:43px; background-position: -397px -1179px}
.imagenes-explosion-explosion_011 {width:48px; height:43px; background-position: -397px -1224px}
.imagenes-explosion-explosion_012 {width:48px; height:43px; background-position: -397px -1269px}
.imagenes-explosion-explosion_013 {width:48px; height:43px; background-position: -447px -1107px}
.imagenes-explosion-explosion_014 {width:48px; height:43px; background-position: -447px -1152px}
.imagenes-explosion-explosion_015 {width:48px; height:43px; background-position: -447px -1197px}
.imagenes-figuras-circulo_azul {width:48px; height:48px; background-position: -51px -951px}
.imagenes-figuras-circulo_blanco {width:48px; height:48px; background-position: -101px -901px}
.imagenes-figuras-circulo_negro {width:48px; height:48px; background-position: -151px -851px}
.imagenes-figuras-circulo_rojo {width:48px; height:48px; background-position: -201px -801px}
.imagenes-figuras-circulo_verde {width:48px; height:48px; background-position: -251px -751px}
.imagenes-figuras-cuadrado_azul {width:48px; height:48px; background-position: -301px -701px}
.imagenes-figuras-cuadrado_blanco {width:48px; height:48px; background-position: -351px -651px}
.imagenes-figuras-cuadrado_negro {width:48px; height:48px; background-position: -401px -601px}
.imagenes-figuras-cuadrado_rojo {width:48px; height:48px; background-position: -451px -551px}
.imagenes-figuras-cuadrado_verde {width:48px; height:48px; background-position: -1px -1051px}
.imagenes-gallina-gallina_muere {width:43px; height:48px; background-position: -1px -1500px}
.imagenes-gallina-gallina_sin_piel {width:42px; height:48px; background-position: -1px -1650px}
.imagenes-gallina-gallina_vuela_1 {width:48px; height:47px; background-position: -1px -1301px}
.imagenes-gallina-gallina_vuela_2 {width:48px; height:35px; background-position: -309px -1696px}
.imagenes-gallina-gallina_vuela_3 {width:48px; height:47px; background-position: -51px -1251px}
.imagenes-interfaz-interfaz_deslizador {width:32px; height:48px; background-position: -401px -1411px}
.imagenes-interfaz-interfaz_linea {width:48px; height:8px; background-position: -150px -1432px}
.imagenes-interfaz-interfaz_punto {width:38px; height:48px; background-position: -199px -1442px}
.imagenes-mini-explosion-explosion_0 {width:48px; height:48px; background-position: -51px -1001px}
.imagenes-mini-explosion-explosion_1 {width:48px; height:48px; background-position: -101px -951px}
.imagenes-mini-explosion-explosion_2 {width:48px; height:48px; background-position: -151px -901px}
.imagenes-mini-explosion-explosion_3 {width:48px; height:48px; background-position: -201px -851px}
.imagenes-mini-explosion-explosion_4 {width:48px; height:48px; background-position: -251px -801px}
.imagenes-mini-explosion-explosion_5 {width:48px; height:48px; background-position: -301px -751px}
.imagenes-mini-explosion-explosion_6 {width:48px; height:48px; background-position: -351px -701px}
.imagenes-monedas-moneda_0 {width:48px; height:48px; background-position: -401px -651px}
.imagenes-monedas-moneda_1 {width:48px; height:48px; background-position: -451px -601px}
.imagenes-monedas-moneda_2 {width:48px; height:48px; background-position: -1px -1101px}
.imagenes-monedas-moneda_3 {width:48px; height:48px; background-position: -51px -1051px}
.imagenes-monedas-moneda_4 {width:48px; height:48px; background-position: -101px -1001px}
.imagenes-monedas-moneda_5 {width:48px; height:48px; background-position: -151px -951px}
.imagenes-monedas-moneda_6 {width:48px; height:48px; background-position: -201px -901px}
.imagenes-monedas-moneda_7 {width:48px; height:48px; background-position: -251px -851px}
.imagenes-mono-mono_gritar {width:48px; height:37px; background-position: -149px -1483px}
.imagenes-mono-mono_normal {width:48px; height:37px; background-position: -309px -1657px}
.imagenes-mono-mono_reir {width:48px; height:37px; background-position: -459px -1407px}
.imagenes-nave-nave {width:36px; height:48px; background-position: -204px -1592px}
.imagenes-nave-nave_avanza_1 {width:48px; height:47px; background-position: -101px -1201px}
.imagenes-nave-nave_avanza_2 {width:48px; height:47px; background-position: -151px -1150px}
.imagenes-nave-nave_derecha_1 {width:48px; height:47px; background-position: -201px -1100px}
.imagenes-nave-nave_derecha_2 {width:48px; height:47px; background-position: -251px -1050px}
.imagenes-nave-nave_enemiga_1 {width:39px; height:48px; background-position: -201px -1299px}
.imagenes-nave-nave_enemiga_2 {width:34px; height:48px; background-position: -401px -1461px}
.imagenes-nave-nave_izquierda_1 {width:48px; height:47px; background-position: -301px -1000px}
.imagenes-nave-nave_izquierda_2 {width:48px; height:47px; background-position: -351px -950px}
.imagenes-nave-nave_reposo {width:48px; height:47px; background-position: -401px -900px}
.imagenes-objetos-aceituna {width:48px; height:48px; background-position: -301px -801px}
.imagenes-objetos-asteroide_chico {width:48px; height:45px; background-position: -347px -1099px}
.imagenes-objetos-asteroide_grande {width:48px; height:47px; background-position: -451px -850px}
.imagenes-objetos-asteroide_medio {width:47px; height:48px; background-position: -1px -1350px}
.imagenes-objetos-banana_0 {width:43px; height:48px; background-position: -1px -1550px}
.imagenes-objetos-banana_1 {width:43px; height:48px; background-position: -1px -1600px}
.imagenes-objetos-bloque_arkanoid_amarillo {width:48px; height:24px; background-position: -146px -1572px}
.imagenes-objetos-bloque_arkanoid_azul {width:48px; height:24px; background-position: -359px -1707px}
.imagenes-objetos-bloque_arkanoid_verde {width:48px; height:24px; background-position: -409px -1707px}
.imagenes-objetos-bomba {width:36px; height:48px; background-position: -401px -1511px}
.imagenes-objetos-bomba_0 {width:48px; height:44px; background-position: -297px -1196px}
.imagenes-objetos-bomba_1 {width:48px; height:44px; background-position: -347px -1146px}
.imagenes-objetos-caja {width:48px; height:48px; background-position: -351px -751px}
.imagenes-objetos-copa {width:48px; height:48px; background-position: -401px -701px}
.imagenes-objetos-corazon_completo {width:48px; height:48px; background-position: -101px -51px}
.imagenes-objetos-corazon_medio {width:48px; height:48px; background-position: -51px -1px}
.imagenes-objetos-corazon_vacio {width:48px; height:48px; background-position: -451px -651px}
.imagenes-objetos-cuchi_2 {width:48px; height:48px; background-position: -1px -1151px}
.imagenes-objetos-cuchillo_1 {width:48px; height:48px; background-position: -51px -1101px}
.imagenes-objetos-diamante_azul {width:48px; height:48px; background-position: -1px -251px}
.imagenes-objetos-diamante_rojo {width:48px; height:48px; background-position: -1px -51px}
.imagenes-objetos-diamante_verde {width:48px; height:48px; background-position: -101px -151px}
.imagenes-objetos-engranaje {width:48px; height:48px; background-position: -201px -401px}
.imagenes-objetos-llave {width:48px; height:48px; background-position: -101px -1px}
.imagenes-objetos-madera {width:13px; height:48px; background-position: -435px -1407px}
.imagenes-objetos-manzana {width:46px; height:48px; background-position: -449px -949px}
.imagenes-objetos-mira {width:48px; height:48px; background-position: -101px -1051px}
.imagenes-objetos-moneda {width:39px; height:48px; background-position: -293px -1325px}
.imagenes-objetos-paleta {width:48px; height:11px; background-position: -149px -1467px}
.imagenes-objetos-pato {width:48px; height:46px; background-position: -247px -1199px}
.imagenes-objetos-pelota {width:48px; height:47px; background-position: -51px -1300px}
.imagenes-objetos-pelota_azul {width:48px; height:48px; background-position: -151px -1001px}
.imagenes-objetos-pelota_de_voley {width:47px; height:48px; background-position: -101px -1250px}
.imagenes-objetos-pelota_gris {width:48px; height:48px; background-position: -201px -951px}
.imagenes-objetos-robot {width:28px; height:48px; background-position: -401px -1561px}
.imagenes-objetos-torreta {width:26px; height:48px; background-position: -431px -1561px}
.imagenes-objetos-tortuga {width:48px; height:48px; background-position: -251px -901px}
.imagenes-objetos-tridente_clavado {width:19px; height:48px; background-position: -183px -1249px}
.imagenes-objetos-tridente_normal {width:19px; height:48px; background-position: -488px -1357px}
.imagenes-objetos-zanahoria_normal {width:48px; height:48px; background-position: -301px -851px}
.imagenes-objetos-zanahoria_sonrie {width:48px; height:48px; background-position: -351px -801px}
.imagenes-pacman-fantasma_6 {width:48px; height:48px; background-position: -401px -751px}
.imagenes-pacman-fantasma_7 {width:48px; height:48px; background-position: -451px -701px}
.imagenes-pacman-fantasma_azul_0 {width:48px; height:48px; background-position: -1px -1201px}
.imagenes-pacman-fantasma_azul_1 {width:48px; height:48px; background-position: -51px -1151px}
.imagenes-pacman-pacman_4 {width:48px; height:48px; background-position: -101px -1101px}
.imagenes-pacman-pacman_5 {width:48px; height:48px; background-position: -151px -1051px}
.imagenes-pacman-pacman_6 {width:48px; height:48px; background-position: -201px -1001px}
.imagenes-particulas-particula_1 {width:48px; height:48px; background-position: -251px -951px}
.imagenes-particulas-particula_2 {width:48px; height:48px; background-position: -301px -901px}
.imagenes-particulas-particula_3 {width:46px; height:48px; background-position: -1px -1450px}
.imagenes-pixelados-pixel_player_0 {width:39px; height:48px; background-position: -338px -1361px}
.imagenes-pixelados-pixel_player_1 {width:39px; height:48px; background-position: -447px -1357px}
.imagenes-pixelados-pixel_player_2 {width:39px; height:48px; background-position: -359px -1657px}
.imagenes-plataformas-bloque_azul {width:48px; height:48px; background-position: -401px -301px}
.imagenes-plataformas-bloque_cemento {width:48px; height:48px; background-position: -1px -601px}
.imagenes-plataformas-bloque_escalera {width:48px; height:48px; background-position: -351px -201px}
.imagenes-plataformas-bloque_escalera_superior {width:48px; height:48px; background-position: -301px -251px}
.imagenes-plataformas-bloque_gris {width:48px; height:48px; background-position: -51px -551px}
.imagenes-plataformas-bloque_ladrillo {width:48px; height:48px; background-position: -151px -401px}
.imagenes-plataformas-bloque_para_llave {width:48px; height:48px; background-position: -1px -701px}
.imagenes-plataformas-bloque_pasto {width:48px; height:48px; background-position: -251px -151px}
.imagenes-plataformas-bloque_pulsador_azul_activado {width:48px; height:48px; background-position: -251px -401px}
.imagenes-plataformas-bloque_pulsador_azul_desactivado {width:48px; height:48px; background-position: -201px -451px}
.imagenes-plataformas-bloque_tierra {width:48px; height:48px; background-position: -451px -101px}
.imagenes-plataformas-pared {width:2px; height:48px; background-position: -501px -1px}
.imagenes-plataformas-plataforma {width:48px; height:7px; background-position: -200px -1433px}
.imagenes-plataformas-suelo {width:48px; height:2px; background-position: -459px -1726px}
.imagenes-plataformas-techo {width:48px; height:2px; background-position: -459px -1726px}
.imagenes-redimensionables-blanco {width:48px; height:48px; background-position: -351px -851px}
.imagenes-redimensionables-boton-amarillo {width:48px; height:44px; background-position: -347px -1192px}
.imagenes-redimensionables-con_bordes_1 {width:48px; height:48px; background-position: -401px -801px}
.imagenes-redimensionables-con_bordes_2 {width:48px; height:48px; background-position: -451px -751px}
.imagenes-redimensionables-con_bordes_3 {width:48px; height:48px; background-position: -1px -1251px}
.imagenes-redimensionables-dialogo {width:48px; height:48px; background-position: -51px -1201px}
.imagenes-redimensionables-gris {width:48px; height:48px; background-position: -101px -1151px}
.imagenes-tanque-tanque_base {width:48px; height:28px; background-position: -459px -1477px}
.imagenes-tanque-tanque_disparo {width:48px; height:33px; background-position: -201px -1698px}
.imagenes-tanque-tanque_ruedas {width:48px; height:23px; background-position: -149px -1442px}
.imagenes-tanque-tanque_torreta {width:48px; height:14px; background-position: -459px -1710px}
