/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:6945acbd524617fcee8b1a05aafa94fe:b83257a25f41c3c28892b13ddeeb11d8:467c798a4e4a5265189118ecb556e0a2$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(iconos.png);}

.abrir {width:24px; height:24px; background-position: -693px -55px}
.actor {width:24px; height:24px; background-position: -693px -81px}
.actores {width:24px; height:24px; background-position: -693px -107px}
.add_folder {width:25px; height:25px; background-position: -683px -1px}
.animaciones {width:24px; height:24px; background-position: -693px -133px}
.api {width:25px; height:25px; background-position: -1px -223px}
.arduino {width:24px; height:24px; background-position: -693px -159px}
.borrar {width:16px; height:16px; background-position: -397px -239px}
.computadora {width:25px; height:25px; background-position: -683px -28px}
.demo {width:24px; height:24px; background-position: -693px -185px}
.desplegar {width:24px; height:24px; background-position: -693px -211px}
.detener {width:24px; height:24px; background-position: -109px -231px}
.duplicar {width:16px; height:16px; background-position: -415px -239px}
.editar {width:16px; height:16px; background-position: -433px -239px}
.ejecutar {width:24px; height:24px; background-position: -135px -231px}
.ejemplos {width:25px; height:25px; background-position: -28px -223px}
.electron {width:60px; height:60px; background-position: -441px -1px}
.ember {width:63px; height:60px; background-position: -376px -1px}
.enjambre {width:100px; height:74px; background-position: -131px -1px}
.enjambre-texto {width:100px; height:19px; background-position: -1px -202px}
.error {width:24px; height:24px; background-position: -161px -231px}
.escena {width:24px; height:24px; background-position: -187px -231px}
.exportar {width:25px; height:25px; background-position: -28px -223px}
.github {width:60px; height:50px; background-position: -131px -77px}
.grilla_actor_aceituna {width:48px; height:48px; background-position: -193px -77px}
.grilla_actor_actor {width:48px; height:48px; background-position: -243px -73px}
.grilla_actor_barra_de_energia {width:48px; height:48px; background-position: -293px -73px}
.grilla_actor_boton {width:48px; height:48px; background-position: -343px -72px}
.grilla_actor_boton_activable {width:48px; height:48px; background-position: -343px -72px}
.grilla_actor_boton_de_control_abajo {width:48px; height:48px; background-position: -393px -63px}
.grilla_actor_boton_de_control_arriba {width:48px; height:48px; background-position: -443px -63px}
.grilla_actor_boton_de_control_derecha {width:48px; height:48px; background-position: -493px -63px}
.grilla_actor_boton_de_control_espacio {width:48px; height:48px; background-position: -543px -63px}
.grilla_actor_boton_de_control_izquierda {width:48px; height:48px; background-position: -593px -63px}
.grilla_actor_caja {width:48px; height:48px; background-position: -643px -57px}
.grilla_actor_chispa {width:48px; height:48px; background-position: -393px -113px}
.grilla_actor_conejo {width:48px; height:48px; background-position: -443px -113px}
.grilla_actor_deslizador {width:48px; height:48px; background-position: -493px -113px}
.grilla_actor_explosion {width:123px; height:69px; background-position: -1px -131px}
.grilla_actor_gallina {width:48px; height:48px; background-position: -543px -113px}
.grilla_actor_golpe {width:48px; height:48px; background-position: -593px -113px}
.grilla_actor_humo {width:48px; height:48px; background-position: -643px -107px}
.grilla_actor_laser {width:48px; height:48px; background-position: -343px -122px}
.grilla_actor_logo {width:48px; height:48px; background-position: -393px -163px}
.grilla_actor_moneda {width:48px; height:48px; background-position: -443px -163px}
.grilla_actor_nave {width:48px; height:48px; background-position: -493px -163px}
.grilla_actor_nube {width:48px; height:48px; background-position: -543px -163px}
.grilla_actor_nube_animada {width:48px; height:48px; background-position: -593px -163px}
.grilla_actor_pantalla_completa {width:48px; height:48px; background-position: -643px -157px}
.grilla_actor_pared {width:48px; height:48px; background-position: -643px -207px}
.grilla_actor_pelota {width:48px; height:48px; background-position: -126px -131px}
.grilla_actor_pizarra {width:48px; height:48px; background-position: -126px -181px}
.grilla_actor_plataforma {width:48px; height:48px; background-position: -176px -129px}
.grilla_actor_puntaje {width:69px; height:69px; background-position: -305px -1px}
.grilla_actor_reiniciar_escena {width:54px; height:54px; background-position: -627px -1px}
.grilla_actor_robot {width:48px; height:48px; background-position: -176px -179px}
.grilla_actor_suelo {width:48px; height:48px; background-position: -226px -127px}
.grilla_actor_techo {width:48px; height:48px; background-position: -226px -127px}
.grilla_actor_texto {width:48px; height:48px; background-position: -226px -177px}
.guardar {width:24px; height:24px; background-position: -213px -231px}
.icono_actor_aceituna {width:10px; height:10px; background-position: -559px -245px}
.icono_actor_actortexto {width:10px; height:10px; background-position: -571px -245px}
.icono_actor_boton {width:10px; height:10px; background-position: -583px -245px}
.icono_actor_caja {width:10px; height:10px; background-position: -330px -123px}
.icono_actor_conejo {width:10px; height:10px; background-position: -627px -213px}
.icono_actor_deslizador {width:10px; height:10px; background-position: -595px -229px}
.icono_actor_gallina {width:10px; height:10px; background-position: -330px -135px}
.icono_actor_laser {width:10px; height:10px; background-position: -595px -241px}
.icono_actor_logo {width:10px; height:10px; background-position: -607px -229px}
.icono_actor_moneda {width:10px; height:10px; background-position: -330px -147px}
.icono_actor_nave {width:10px; height:10px; background-position: -607px -241px}
.icono_actor_nube {width:10px; height:10px; background-position: -330px -159px}
.icono_actor_pelota {width:10px; height:10px; background-position: -619px -229px}
.icono_actor_plataforma {width:10px; height:10px; background-position: -631px -225px}
.icono_actor_suelo {width:10px; height:10px; background-position: -631px -237px}
.icono_actor_techo {width:10px; height:10px; background-position: -631px -237px}
.imagen {width:16px; height:16px; background-position: -451px -239px}
.inactivo {width:16px; height:16px; background-position: -469px -239px}
.info {width:24px; height:24px; background-position: -239px -231px}
.info_squared {width:25px; height:25px; background-position: -55px -223px}
.manual {width:25px; height:25px; background-position: -276px -123px}
.mas {width:16px; height:16px; background-position: -487px -239px}
.menu {width:16px; height:16px; background-position: -505px -239px}
.mover {width:16px; height:16px; background-position: -523px -239px}
.no {width:24px; height:24px; background-position: -265px -231px}
.nuevo {width:24px; height:24px; background-position: -291px -231px}
.off {width:16px; height:14px; background-position: -559px -229px}
.on {width:16px; height:14px; background-position: -577px -229px}
.panel-abierto {width:16px; height:16px; background-position: -693px -237px}
.panel-central-off {width:18px; height:14px; background-position: -103px -202px}
.panel-central-on {width:18px; height:14px; background-position: -527px -213px}
.panel-cerrado {width:16px; height:16px; background-position: -541px -229px}
.panel-derecho-off {width:18px; height:14px; background-position: -547px -213px}
.panel-derecho-on {width:18px; height:14px; background-position: -567px -213px}
.panel-izquierdo-off {width:18px; height:14px; background-position: -587px -213px}
.panel-izquierdo-on {width:18px; height:14px; background-position: -607px -213px}
.pausa {width:24px; height:24px; background-position: -317px -231px}
.phaser {width:70px; height:70px; background-position: -233px -1px}
.pilas_logo_128 {width:128px; height:128px; background-position: -1px -1px}
.pilas_logo_60 {width:60px; height:60px; background-position: -503px -1px}
.plegar {width:24px; height:24px; background-position: -397px -213px}
.preferencias {width:24px; height:24px; background-position: -423px -213px}
.receta {width:25px; height:25px; background-position: -276px -150px}
.receta_azar {width:25px; height:25px; background-position: -303px -123px}
.receta_click {width:25px; height:25px; background-position: -276px -177px}
.receta_clonar {width:25px; height:25px; background-position: -303px -150px}
.receta_colision {width:25px; height:25px; background-position: -303px -177px}
.receta_mover_izquierda {width:25px; height:25px; background-position: -276px -204px}
.receta_mueve {width:25px; height:25px; background-position: -303px -204px}
.receta_pad {width:25px; height:25px; background-position: -82px -223px}
.receta_saltar {width:25px; height:25px; background-position: -330px -172px}
.receta_sonido {width:25px; height:25px; background-position: -330px -199px}
.receta_tiempo {width:25px; height:25px; background-position: -357px -172px}
.settings {width:25px; height:25px; background-position: -357px -199px}
.si {width:24px; height:24px; background-position: -449px -213px}
.sonidos {width:24px; height:24px; background-position: -475px -213px}
.test {width:25px; height:25px; background-position: -343px -226px}
.typescript {width:60px; height:60px; background-position: -565px -1px}
.volver {width:24px; height:24px; background-position: -501px -213px}
.webserver {width:25px; height:25px; background-position: -370px -226px}
