/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:7e93ed5b3447ebf0601ddca217acb3e1:64c76d39ed9abeaa4c7ae03af0ff4778:467c798a4e4a5265189118ecb556e0a2$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(iconos.png);}

.abrir {width:24px; height:24px; background-position: -231px -98px}
.actor {width:24px; height:24px; background-position: -231px -124px}
.actores {width:24px; height:24px; background-position: -231px -231px}
.add_folder {width:25px; height:25px; background-position: -157px -652px}
.api {width:25px; height:25px; background-position: -184px -652px}
.arduino {width:24px; height:24px; background-position: -231px -257px}
.borrar {width:16px; height:16px; background-position: -233px -1px}
.computadora {width:25px; height:25px; background-position: -211px -652px}
.demo {width:24px; height:24px; background-position: -231px -283px}
.desplegar {width:24px; height:24px; background-position: -172px -295px}
.detener {width:24px; height:24px; background-position: -172px -321px}
.duplicar {width:16px; height:16px; background-position: -238px -652px}
.editar {width:16px; height:16px; background-position: -233px -19px}
.ejecutar {width:24px; height:24px; background-position: -203px -286px}
.ejemplos {width:25px; height:25px; background-position: -157px -679px}
.electron {width:60px; height:60px; background-position: -1px -407px}
.ember {width:63px; height:60px; background-position: -1px -345px}
.enjambre {width:100px; height:74px; background-position: -131px -1px}
.enjambre-texto {width:100px; height:19px; background-position: -131px -77px}
.error {width:24px; height:24px; background-position: -198px -312px}
.escena {width:24px; height:24px; background-position: -224px -312px}
.exportar {width:25px; height:25px; background-position: -157px -679px}
.github {width:60px; height:50px; background-position: -1px -593px}
.grilla_actor_aceituna {width:48px; height:48px; background-position: -73px -202px}
.grilla_actor_actor {width:48px; height:48px; background-position: -131px -98px}
.grilla_actor_boton {width:48px; height:48px; background-position: -181px -98px}
.grilla_actor_boton_activable {width:48px; height:48px; background-position: -181px -98px}
.grilla_actor_boton_de_control_abajo {width:48px; height:48px; background-position: -126px -148px}
.grilla_actor_boton_de_control_arriba {width:48px; height:48px; background-position: -176px -148px}
.grilla_actor_boton_de_control_derecha {width:48px; height:48px; background-position: -73px -252px}
.grilla_actor_boton_de_control_espacio {width:48px; height:48px; background-position: -72px -302px}
.grilla_actor_boton_de_control_izquierda {width:48px; height:48px; background-position: -66px -352px}
.grilla_actor_caja {width:48px; height:48px; background-position: -57px -645px}
.grilla_actor_chispa {width:48px; height:48px; background-position: -116px -352px}
.grilla_actor_conejo {width:48px; height:48px; background-position: -122px -302px}
.grilla_actor_deslizador {width:48px; height:48px; background-position: -166px -352px}
.grilla_actor_explosion {width:123px; height:69px; background-position: -1px -131px}
.grilla_actor_gallina {width:48px; height:48px; background-position: -66px -402px}
.grilla_actor_golpe {width:48px; height:48px; background-position: -116px -402px}
.grilla_actor_humo {width:48px; height:48px; background-position: -166px -402px}
.grilla_actor_laser {width:48px; height:48px; background-position: -63px -452px}
.grilla_actor_logo {width:48px; height:48px; background-position: -63px -502px}
.grilla_actor_moneda {width:48px; height:48px; background-position: -113px -452px}
.grilla_actor_nave {width:48px; height:48px; background-position: -63px -552px}
.grilla_actor_nube {width:48px; height:48px; background-position: -113px -502px}
.grilla_actor_nube_animada {width:48px; height:48px; background-position: -163px -452px}
.grilla_actor_pantalla_completa {width:32px; height:32px; background-position: -63px -602px}
.grilla_actor_pared {width:48px; height:48px; background-position: -113px -552px}
.grilla_actor_pelota {width:48px; height:48px; background-position: -163px -502px}
.grilla_actor_pizarra {width:48px; height:48px; background-position: -163px -552px}
.grilla_actor_plataforma {width:48px; height:48px; background-position: -107px -602px}
.grilla_actor_puntaje {width:69px; height:69px; background-position: -1px -274px}
.grilla_actor_reiniciar_escena {width:54px; height:54px; background-position: -1px -645px}
.grilla_actor_robot {width:48px; height:48px; background-position: -157px -602px}
.grilla_actor_suelo {width:48px; height:48px; background-position: -207px -602px}
.grilla_actor_techo {width:48px; height:48px; background-position: -207px -602px}
.grilla_actor_texto {width:48px; height:48px; background-position: -107px -652px}
.guardar {width:24px; height:24px; background-position: -216px -338px}
.icono_actor_aceituna {width:10px; height:10px; background-position: -239px -502px}
.icono_actor_actortexto {width:10px; height:10px; background-position: -213px -588px}
.icono_actor_boton {width:10px; height:10px; background-position: -239px -514px}
.icono_actor_caja {width:10px; height:10px; background-position: -239px -526px}
.icono_actor_conejo {width:10px; height:10px; background-position: -239px -538px}
.icono_actor_deslizador {width:10px; height:10px; background-position: -239px -550px}
.icono_actor_gallina {width:10px; height:10px; background-position: -239px -562px}
.icono_actor_laser {width:10px; height:10px; background-position: -225px -590px}
.icono_actor_logo {width:10px; height:10px; background-position: -237px -590px}
.icono_actor_moneda {width:10px; height:10px; background-position: -198px -338px}
.icono_actor_nave {width:10px; height:10px; background-position: -242px -338px}
.icono_actor_nube {width:10px; height:10px; background-position: -242px -350px}
.icono_actor_pelota {width:10px; height:10px; background-position: -242px -362px}
.icono_actor_plataforma {width:10px; height:10px; background-position: -242px -374px}
.icono_actor_suelo {width:10px; height:10px; background-position: -242px -386px}
.icono_actor_techo {width:10px; height:10px; background-position: -242px -386px}
.imagen {width:16px; height:16px; background-position: -238px -670px}
.inactivo {width:16px; height:16px; background-position: -233px -37px}
.info {width:24px; height:24px; background-position: -216px -364px}
.info_squared {width:25px; height:25px; background-position: -184px -679px}
.manual {width:25px; height:25px; background-position: -211px -679px}
.mas {width:16px; height:16px; background-position: -238px -688px}
.menu {width:16px; height:16px; background-position: -233px -55px}
.mover {width:16px; height:16px; background-position: -233px -73px}
.no {width:24px; height:24px; background-position: -216px -390px}
.nuevo {width:24px; height:24px; background-position: -216px -416px}
.off {width:16px; height:14px; background-position: -207px -216px}
.on {width:16px; height:14px; background-position: -239px -486px}
.panel-abierto {width:16px; height:16px; background-position: -207px -198px}
.panel-central-off {width:18px; height:14px; background-position: -123px -279px}
.panel-central-on {width:18px; height:14px; background-position: -143px -279px}
.panel-cerrado {width:16px; height:16px; background-position: -239px -468px}
.panel-derecho-off {width:18px; height:14px; background-position: -163px -279px}
.panel-derecho-on {width:18px; height:14px; background-position: -183px -279px}
.panel-izquierdo-off {width:18px; height:14px; background-position: -213px -572px}
.panel-izquierdo-on {width:18px; height:14px; background-position: -233px -574px}
.pausa {width:24px; height:24px; background-position: -216px -442px}
.phaser {width:70px; height:70px; background-position: -1px -202px}
.pilas_logo_128 {width:128px; height:128px; background-position: -1px -1px}
.pilas_logo_60 {width:60px; height:60px; background-position: -1px -469px}
.plegar {width:24px; height:24px; background-position: -213px -468px}
.preferencias {width:24px; height:24px; background-position: -213px -494px}
.receta {width:25px; height:25px; background-position: -226px -150px}
.receta_azar {width:25px; height:25px; background-position: -226px -177px}
.receta_click {width:25px; height:25px; background-position: -126px -198px}
.receta_clonar {width:25px; height:25px; background-position: -153px -198px}
.receta_colision {width:25px; height:25px; background-position: -180px -198px}
.receta_mover_izquierda {width:25px; height:25px; background-position: -123px -225px}
.receta_mueve {width:25px; height:25px; background-position: -123px -252px}
.receta_pad {width:25px; height:25px; background-position: -150px -225px}
.receta_saltar {width:25px; height:25px; background-position: -177px -225px}
.receta_sonido {width:25px; height:25px; background-position: -150px -252px}
.receta_tiempo {width:25px; height:25px; background-position: -177px -252px}
.settings {width:25px; height:25px; background-position: -225px -204px}
.si {width:24px; height:24px; background-position: -213px -520px}
.test {width:25px; height:25px; background-position: -204px -232px}
.typescript {width:60px; height:60px; background-position: -1px -531px}
.volver {width:24px; height:24px; background-position: -213px -546px}
.webserver {width:25px; height:25px; background-position: -204px -259px}
