body {
  font-size: 18px;
  line-height: 1.5;
  max-width: 720px;
  margin: auto;
  padding: 1em;
  font-family: Verdana;
}

a {
  text-decoration: none;
}

tr.odd {
  background-color: #ececec;
}

tr td {
  padding: 10px;
  vertical-align: top;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

h1,
h2,
h3 {
  color: #005590;
  font-weight: 200;
}

pre.sourceCode {
  margin: 0;
  padding: 10px;
  font-size: 16px;
}

p code {
  white-space: pre-wrap;
  font-size: 16px;
  background-color: #303030;
  padding: 3px 8px;
  border-radius: 3px;
  color: #cccccc;
}

img {
  max-width: 100%;
  display: block;
  padding: 1em;
  margin: auto;
}

.funcion pre:first-child {
  margin: 0;
  margin-top: 2em;
}

.funcion pre {
  margin-left: 5em;
  text-align: justify;
  padding: 0.5em;
  background-color: #303030;
}

.funcion p {
  margin-left: 5em;
  text-align: justify;
}

.dn {
  display: none;
}
