<div class="vh-100 flex flex-column">

  <div class="ma2">
    {{pilas-boton-regresar}}
  </div>

  <div class="flex flex1 ph2 pb2 overflow-auto">
    <div class="flex1 overflow-auto h-100">
      {{pilas-lista-de-ejemplos}}
    </div>
  </div>

</div>
