<div class="ma2">
  {{#link-to "ejemplos" class="ba pa2 button dib br2 verdana f6 link pointer hover-bg-black-10 black bg-animate hover-bg-black-10 b--black-20 unselectable v-top"}}{{pilas-icono icono="volver"}} Volver a la lista de ejemplos{{/link-to}}
  {{#link-to "editor" (query-params ejemplo=model.nombre) class="ba pa2 button dib br2 verdana f6 link pointer hover-bg-black-10 black bg-animate hover-bg-black-10 b--black-20 unselectable v-top"}}{{pilas-icono icono="computadora"}} Abrir este ejemplo en el editor{{/link-to}}
</div>

<div class="ma2 flex vh-100">
  {{pilas-ejemplo proyecto=model.ejemplo.proyecto}}
</div>
