{{#link-to "editor" (query-params tipo=nombre) id=nombre tagName="div" class="dib w180 pointer"}}
  <div style="width: 180px; height: 140px;">
    <div class="sprite-iniciar-proyecto capturas-{{nombre}}"></div>
  </div>

  <div class="bg-black-80 pa1 white tc lato f7 bl bb br b--black-90 truncate">
    {{titulo}}
  </div>
{{/link-to}}
