/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:37781f15f987f8e119fa91b006d8539f:66056d1ebaad7ff26e09f4c2259d61d2:467c798a4e4a5265189118ecb556e0a2$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(iconos-56cb1f1e605e1ed565d2fe6848563e74.png);}

.abrir {width:24px; height:24px; background-position: -107px -670px}
.actor {width:24px; height:24px; background-position: -109px -696px}
.actores {width:24px; height:24px; background-position: -109px -722px}
.add_folder {width:25px; height:25px; background-position: -223px -193px}
.animaciones {width:24px; height:24px; background-position: -222px -382px}
.api {width:25px; height:25px; background-position: -1px -706px}
.arduino {width:24px; height:24px; background-position: -216px -408px}
.ayuda {width:24px; height:24px; background-position: -216px -434px}
.borrar {width:16px; height:16px; background-position: -159px -677px}
.carpeta {width:19px; height:16px; background-position: -140px -643px}
.carpeta-abierta {width:19px; height:16px; background-position: -233px -72px}
.computadora {width:25px; height:25px; background-position: -163px -543px}
.crear-carpeta {width:16px; height:16px; background-position: -161px -729px}
.demo {width:24px; height:24px; background-position: -216px -460px}
.desplegar {width:24px; height:24px; background-position: -133px -670px}
.detener {width:24px; height:24px; background-position: -135px -696px}
.duplicar {width:16px; height:16px; background-position: -179px -729px}
.editar {width:16px; height:16px; background-position: -197px -729px}
.ejecutar {width:24px; height:24px; background-position: -135px -722px}
.ejemplos {width:25px; height:25px; background-position: -223px -220px}
.electron {width:60px; height:60px; background-position: -1px -412px}
.ember {width:63px; height:60px; background-position: -1px -350px}
.enjambre {width:100px; height:74px; background-position: -1px -131px}
.enjambre-texto {width:100px; height:19px; background-position: -131px -72px}
.error {width:24px; height:24px; background-position: -161px -651px}
.escena {width:24px; height:24px; background-position: -187px -651px}
.exportar {width:25px; height:25px; background-position: -223px -220px}
.github {width:60px; height:50px; background-position: -1px -598px}
.grilla_actor_aceituna {width:48px; height:48px; background-position: -131px -93px}
.grilla_actor_actor {width:48px; height:48px; background-position: -181px -93px}
.grilla_actor_barra_de_energia {width:48px; height:48px; background-position: -73px -207px}
.grilla_actor_boton {width:48px; height:48px; background-position: -73px -257px}
.grilla_actor_boton_activable {width:48px; height:48px; background-position: -73px -257px}
.grilla_actor_boton_de_control_abajo {width:48px; height:48px; background-position: -72px -307px}
.grilla_actor_boton_de_control_arriba {width:48px; height:48px; background-position: -66px -357px}
.grilla_actor_boton_de_control_derecha {width:48px; height:48px; background-position: -103px -143px}
.grilla_actor_boton_de_control_espacio {width:48px; height:48px; background-position: -153px -143px}
.grilla_actor_boton_de_control_izquierda {width:48px; height:48px; background-position: -123px -193px}
.grilla_actor_caja {width:48px; height:48px; background-position: -123px -243px}
.grilla_actor_chispa {width:48px; height:48px; background-position: -173px -193px}
.grilla_actor_conejo {width:48px; height:48px; background-position: -173px -243px}
.grilla_actor_deslizador {width:48px; height:48px; background-position: -203px -143px}
.grilla_actor_explosion {width:123px; height:69px; background-position: -131px -1px}
.grilla_actor_gallina {width:48px; height:48px; background-position: -123px -293px}
.grilla_actor_golpe {width:48px; height:48px; background-position: -173px -293px}
.grilla_actor_humo {width:48px; height:48px; background-position: -122px -343px}
.grilla_actor_interruptor_de_gravedad {width:48px; height:48px; background-position: -172px -343px}
.grilla_actor_laser {width:48px; height:48px; background-position: -116px -393px}
.grilla_actor_logo {width:48px; height:48px; background-position: -166px -393px}
.grilla_actor_moneda {width:48px; height:48px; background-position: -66px -407px}
.grilla_actor_nave {width:48px; height:48px; background-position: -63px -457px}
.grilla_actor_nube {width:48px; height:48px; background-position: -63px -507px}
.grilla_actor_nube_animada {width:48px; height:48px; background-position: -63px -557px}
.grilla_actor_pantalla_completa {width:48px; height:48px; background-position: -63px -607px}
.grilla_actor_pared {width:48px; height:48px; background-position: -57px -657px}
.grilla_actor_pelota {width:48px; height:48px; background-position: -116px -443px}
.grilla_actor_pizarra {width:48px; height:48px; background-position: -166px -443px}
.grilla_actor_plataforma {width:48px; height:48px; background-position: -113px -493px}
.grilla_actor_puntaje {width:69px; height:69px; background-position: -1px -279px}
.grilla_actor_reiniciar_escena {width:54px; height:54px; background-position: -1px -650px}
.grilla_actor_robot {width:48px; height:48px; background-position: -113px -543px}
.grilla_actor_suelo {width:48px; height:48px; background-position: -163px -493px}
.grilla_actor_techo {width:48px; height:48px; background-position: -163px -493px}
.grilla_actor_texto {width:48px; height:48px; background-position: -113px -593px}
.guardar {width:24px; height:24px; background-position: -177px -677px}
.imagen {width:16px; height:16px; background-position: -215px -729px}
.inactivo {width:16px; height:16px; background-position: -217px -590px}
.info {width:24px; height:24px; background-position: -161px -703px}
.info_squared {width:25px; height:25px; background-position: -28px -706px}
.manual {width:25px; height:25px; background-position: -163px -570px}
.mas {width:16px; height:16px; background-position: -217px -608px}
.menu {width:16px; height:16px; background-position: -217px -626px}
.mover {width:16px; height:16px; background-position: -235px -590px}
.no {width:24px; height:24px; background-position: -187px -703px}
.nuevo {width:24px; height:24px; background-position: -203px -677px}
.off {width:16px; height:14px; background-position: -231px -106px}
.on {width:16px; height:14px; background-position: -231px -122px}
.panel-abierto {width:16px; height:16px; background-position: -235px -608px}
.panel-central-off {width:18px; height:14px; background-position: -1px -733px}
.panel-central-on {width:18px; height:14px; background-position: -21px -733px}
.panel-cerrado {width:16px; height:16px; background-position: -235px -626px}
.panel-derecho-off {width:18px; height:14px; background-position: -41px -734px}
.panel-derecho-on {width:18px; height:14px; background-position: -61px -734px}
.panel-izquierdo-off {width:18px; height:14px; background-position: -81px -734px}
.panel-izquierdo-on {width:18px; height:14px; background-position: -233px -90px}
.pausa {width:24px; height:24px; background-position: -213px -651px}
.phaser {width:70px; height:70px; background-position: -1px -207px}
.pilas_logo_128 {width:128px; height:128px; background-position: -1px -1px}
.pilas_logo_60 {width:60px; height:60px; background-position: -1px -474px}
.plegar {width:24px; height:24px; background-position: -213px -703px}
.preferencias {width:24px; height:24px; background-position: -229px -677px}
.receta {width:25px; height:25px; background-position: -223px -247px}
.receta_automata {width:24px; height:24px; background-position: -216px -486px}
.receta_azar {width:25px; height:25px; background-position: -163px -597px}
.receta_click {width:25px; height:25px; background-position: -223px -274px}
.receta_clonar {width:25px; height:25px; background-position: -223px -301px}
.receta_colision {width:25px; height:25px; background-position: -55px -707px}
.receta_mover_izquierda {width:25px; height:25px; background-position: -82px -707px}
.receta_mueve {width:25px; height:25px; background-position: -190px -543px}
.receta_pad {width:25px; height:25px; background-position: -190px -570px}
.receta_saltar {width:25px; height:25px; background-position: -190px -597px}
.receta_sonido {width:25px; height:25px; background-position: -163px -624px}
.receta_tiempo {width:25px; height:25px; background-position: -190px -624px}
.settings {width:25px; height:25px; background-position: -223px -328px}
.si {width:24px; height:24px; background-position: -213px -512px}
.sonidos {width:24px; height:24px; background-position: -217px -538px}
.test {width:25px; height:25px; background-position: -222px -355px}
.typescript {width:60px; height:60px; background-position: -1px -536px}
.volver {width:24px; height:24px; background-position: -217px -564px}
.webserver {width:25px; height:25px; background-position: -113px -643px}
