/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:373c976e22197948852f13a52d18a0cb:be131bccac33c31b4699830bacc3fbce:741a09b0e3a568873dd34f31f36f953c$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-iniciar-proyecto {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(iniciar-proyecto-15e5df7bbe4feb06678ce34e1ec65c69.png);}

.capturas-inicial {width:180px; height:140px; background-position: -1px -1px}
.capturas-nave-minimo {width:180px; height:140px; background-position: -1px -143px}
.capturas-nuevo {width:179px; height:140px; background-position: -1px -568px}
.capturas-plataformas-animado {width:180px; height:139px; background-position: -1px -427px}
.capturas-plataformas-minimo {width:180px; height:140px; background-position: -1px -285px}
