{{outlet}}


<div class="layout">

  <div class="game">
    {{#monaco-editor code=model.codigo onChange=(route-action "cuandoCambiaElCodigo")}}
      <div class="ui active inline loader"></div>
    {{/monaco-editor}}
  </div>

  <div class="editor">
    {{#link-to "index"}}Volver{{/link-to}}
  </div>

</div>
