<p class="verdana f6 tc pa2 orange">Uhhh, ocurrió un error.</p>
<p class="verdana f6 tc pa2 orange">Visualizá la consola del navegador para ver más detalles.</p>

<div class="tc orange">
  {{model.responseText}}
</div>
