<div class="flex flex-column">
  {{outlet}}

  <div class="pa2 bb b--light-silver">
    {{pilas-boton-regresar}}
  </div>

  <div class="pa2 unselectable verdana f6">
    {{pilas-arduino}}
  </div>
</div>
