{{#if tareaCargarProyecto.isRunning}}
  <div class="pa2 gray verdana f6 tc">Cargando proyecto ...</div>
{{else}}

  {{pilas-editor
  proyecto=tareaCargarProyecto.last.value

  mostrarEditor=mostrarEditor
  expandirJuego=expandirJuego
  mostrarPropiedades=mostrarPropiedades

  escenaActual=escenaActual
  actorSeleccionado=actorSeleccionado
  seleccion=seleccion
  ultimaEscenaSeleccionada=ultimaEscenaSeleccionada

  cuandoIntentaGuardar=(action "al_guardar")
  cuandoIntentaAbrir=(action "al_abrir")

  mostrarModalCreacionDeActor=mostrarModalCreacionDeActor
  mostrarInterprete=mostrarInterprete
  permitir_modo_pausa=permitir_modo_pausa

  modoVim=modoVim
  oscuro=oscuro
  pos=pos
  fps=fps
  fisica=fisica

  tamano=tamano
}}

{{/if}}