{{#if tareaCargarProyecto.isRunning}}
  <div class="pa2 gray verdana f6 tc">Cargando proyecto ...</div>
{{else}}

  {{pilas-editor
  proyecto=tareaCargarProyecto.last.value
  pixelart=pixelart

  mostrarEditor=mostrarEditor
  mostrarPropiedades=mostrarPropiedades

  escenaActual=escenaActual
  actorSeleccionado=actorSeleccionado
  seleccion=seleccion
  ultimaEscenaSeleccionada=ultimaEscenaSeleccionada

  cuandoIntentaGuardar=(action "al_guardar")
  cuandoIntentaAbrir=(action "al_abrir")
  cuandoIntentaCrearUnProyecto=(action "al_crear_proyecto")

  mostrarModalCreacionDeActor=mostrarModalCreacionDeActor
  mostrarInterprete=mostrarInterprete
  permitir_modo_pausa=permitir_modo_pausa
  zoom=zoom
  grilla=grilla
  modoZoom=modoZoom

  mostrarModalDeAnimaciones=mostrarModalDeAnimaciones
  mostrarModalDeSonidos=mostrarModalDeSonidos

  modoVim=modoVim
  oscuro=oscuro
  pos=pos
  fps=fps
  minimapa=minimapa
  fisica=fisica
  fisica_en_modo_ejecucion=fisica_en_modo_ejecucion

  tamano=tamano
}}

{{/if}}
