<div class="vh-100 w-100 dt">

  <div class="flex flex-column">
    <div>
      {{pilas-boton-regresar}}
    </div>
  </div>

  {{pilas-editor
    proyecto=proyecto
    ocultarEditor=ocultarEditor
    ocultarPropiedades=ocultarPropiedades
    escenaActual=escenaActual
    cuandoIntentaGuardar=(action "alGuardar")
  }}

</div>
