<div class="vh-100 flex flex-column">

  <div class="bb b--black-10 pa2">
    {{pilas-boton-regresar}}
  </div>

  <div class="overflow-y-scroll">
    <div class="center mw8 ph4 lato lh-copy pb6">
      <h2>{{t "home.explore"}}</h2>

      <p>{{t "explore.description"}}</p>

      {{outlet}}
    </div>
  </div>

</div>
