{{outlet}}



<button class="ui button">
  Button demo
</button>

{{pilas-logo}}


<div class="ui">
    <button class="ui button disabled">
      <i class="clone icon"></i>

      <!--
        <div class="ui mini active inline loader"></div> Loading
      -->

    </button>
</div>


{{monaco-editor language="javascript" code=code
  onChange=(action 'onChange')}}
