{{outlet}}

<div class="contenedor-de-pagina-principal">

  <div class="ui text container">
    <div class="ui segment">

      <div class="center">
        {{pilas-logo}}
      </div>

      <div class="center">
        <h3>¡Hola!, esto es pilas-engine 2</h3>

        <p>¿Qué te gustaría hacer ahora?</p>

        <p>&nbsp;</p>
      </div>

      <div class="ui equal width grid center">

        <div class="column">
          <button class="ui disabled primary button">Abrir el intérprete</button>
        </div>

        <div class="column">
          <button class="ui disabled button">Abrir el manual</button>
        </div>

      </div>

      <div class="ui equal width grid center">

        <div class="column">
          <button class="ui disabled button">Explorar ejemplos</button>
        </div>

        <div class="column">
          {{#link-to "acercade" class="ui button"}}Acerca de pilas{{/link-to}}
        </div>

      </div>

    </div>
  </div>

</div>
