<div class="vh-100 w-100 dt">
  <div class="flex flex-column vh-100">

    <div class="bb b--black-10 pa2">
      {{pilas-boton-regresar}}

      <div class="fr">
        {{pilas-boton accion=(action "abrirEnUnaVentanaNueva") texto="Abrir en una ventana nueva"}}
      </div>
    </div>

    {{pilas-manual seccion=seccion cuandoCambiaURL=(action "cuandoCambiaURL")}}
  </div>

  {{outlet}}

</div>
