<div class="vh-100 w-100 dt">
  <div class="flex flex-column vh-100">

    <div class='bb b--black-10 pa2'>
      {{pilas-boton-regresar}}
    </div>

    {{pilas-manual}}
  </div>

  {{outlet}}

</div>
