<div class="vh-100 flex flex-column">

  <div class="bb b--black-10 pa2">
    {{pilas-boton-regresar}}
  </div>

  <div class="overflow-y-scroll">
    <div class="center mw8 ph4 lato lh-copy pb6">
      <h2>Mis juegos</h2>

      <p>Estos son los juegos que has explortado y publicado en la nube de
      pilas.</p>

      {{outlet}}
    </div>
  </div>

</div>
